<div class="title-home-store">
    <br>
    <h3><b>EXPLORE OUR MENU <i class="fi fi-ss-book-alt"></i></b></h3>
    <hr>
</div>


<div class="container-menu-store px-3 py-3">
    <div class="row">
        <div class="row container-menu" name="container-menu">
            <div class="col-2">
                <div class="product">
                    <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                        class="product-img">
                    <div class="product-character">
                        <h3 class="product-name">Hamburger</h3>
                        <p class="product-price">69</p>
                        <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="product">
                    <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                        class="product-img">
                    <div class="product-character">
                        <h3 class="product-name">Hamburger</h3>
                        <p class="product-price">69</p>
                        <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="product">
                    <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                        class="product-img">
                    <div class="product-character">
                        <h3 class="product-name">Hamburger</h3>
                        <p class="product-price">69</p>
                        <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="product">
                    <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                        class="product-img">
                    <div class="product-character">
                        <h3 class="product-name">Hamburger</h3>
                        <p class="product-price">69</p>
                        <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                    </div>
                </div>
            </div>
        </div>     
    </div>
</div>

<!--
<div class="container-menu-store px-3 py-3">
    <div class="row">
        <div class="col-md-7">
            <div class="row container-menu" name="container-menu">
                <div class="col-4">
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->

        <!--this is my car
        <div class="col-md-5">
            <div class="container-browser">
                <button class="btn-search-browser"><i class="fi-browser fi-rr-search" onclick="searchBarCode()"></i></button>
                <input placeholder="Search..." class="barcode-menu" id="barCode" autofocus>
                <button class="btn-barcode-browser"><i class="fi-browser fi-ts-barcode-read" onclick="onCamera()"></i></button>
            </div>
            <hr>
            <div class="container-card">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://cdn.forbes.com.mx/2023/05/dia-hamburguesa-e1684977814759.webp" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">
                                    <label>0101010110101</label><br>
                                    <b>Hamburger</b><br>
                                    <small class="text-muted">$270</small><br>
                                    2 PZA
                                </h5>
                                <p class="card-text">TOTAL: $580</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
--->
<br><br><br><br>
<script src="/js/menu.js"></script>
<script src="/js/store/search.js"></script>