<style>
    .container-menu {
        max-height: 600px; /* Puedes ajustar la altura máxima según tus necesidades */
        overflow-y: auto;
    }
    
    .container-menu-store{
        width: 100%;
        padding: 0px;
    }
</style>

<div class="title-home-store">
    <br>
    <h3><b>EXPLORE OUR MENU <i class="fi fi-ss-book-alt"></i></b></h3>
    <hr>
</div>
<center>
    {{>browserStore}}
</center>
<div class="container container-menu-store">
    <div class="row">
        <div class="col-md-7" style="background-color: red;">
            <!---->
            <div class="row container-menu" name="container-menu">
                <div class="col-4">
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                </div>


            </div>

            <!--for
                <div class="conteiner-products">
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                    <div class="product">
                        <img src="https://bakeitwithlove.com/wp-content/uploads/2022/01/what-to-serve-with-burgers-sq.jpg"
                            class="product-img">
                        <div class="product-character">
                            <h3 class="product-name">Hamburger</h3>
                            <p class="product-price">69</p>
                            <button class="btn-add-product" name="Hamburger" onclick="addProduct(this)">Add</button>
                        </div>
                    </div>
                </div>
            -->
                
            <!--end for-->
        </div>


        <!--this is my car-->
        <div class="col-md-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Dicta cumque quo magnam odio nisi. Cum rerum delectus 
             placeat ratione voluptatibus blanditiis omnis maxime!
        </div>
    </div>
</div>
<br><br><br><br>
<script src="/js/menu.js"></script>
<script src="/js/store/search.js"></script>