<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 24rem;">
                <div class="card-body">
                    <img src="https://cdn-icons-png.flaticon.com/512/1163/1163624.png" alt=""
                        class="icon-product-price">
                    <br>
                    <h7 class="card-title"><b>¡GRATIS!😱</b></h7>
                    <br>
                    <label class="offert-price"><s>MXN $599/mes</s></label>
                    <h3>MXN $0.00</h3>
                    <p class="card-text">
                        Tienes acceso gratuito a la plataforma Füd Technology para usar el sistema POS de Füd y
                        comprobar que es lo que tu negocio necesita.
                    </p>
                    <label for="" class="info-label">
                        ✔️ 100 Platillos/combos y 200 insumos
                        <br>
                        ✔️ 1 Cliente
                        <br>
                        ✔️ 1 GB en la base de datos
                        <br><br>
                    </label>
                    <a class="info-link">Más información</a>
                    <hr>
                    <div class="d-flex justify-content-end">
                        <button id="buyButton" class="btn btn-comprar" onclick="nextWeb('signup')">Obtener Ahora </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 24rem;">
                <div class="card-body">
                    <img src="https://cdn-icons-png.flaticon.com/512/1163/1163675.png" alt=""
                        class="icon-product-price">
                    <br>
                    <h7 class="card-title"><b>Premium ⭐</b></h7>
                    <br>
                    <label class="offert-price"><s>MXN $6,600.00/año</s></label>
                    <h3>MXN $5,500.00/año</h3>
                    <p class="card-text">
                        ¡Transforma la manera en que gestionas tu restaurante con nuestro Paquete Premium de
                        Almacenamiento en la Nube! Diseñado específicamente para las necesidades del sector
                        gastronómico, nuestro servicio ofrece una solución integral y segura para almacenar, acceder y
                        gestionar todos tus datos importantes desde cualquier lugar y en cualquier momento.
                    </p>
                    <label for="" class="info-label">
                        ✔️ 1,500 Platillos/combos y 3,000 insumos
                        <br>
                        ✔️ Clientes ilimitados
                        <br>
                        ✔️ 6 GB en la base de datos
                        <br><br>
                    </label>
                    <a class="info-link">Más información</a>
                    <hr>
                    <div class="d-flex justify-content-end">
                        <button id="buyButton" class="btn btn-comprar" onclick="nextWeb('signup')">Comprar Ahora</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 24rem;">
                <div class="card-body">
                    <img src="https://cdn-icons-png.flaticon.com/512/1163/1163624.png" alt=""
                        class="icon-product-price">
                    <br>
                    <h7 class="card-title"><b>Basico ☁️</b></h7>
                    <br>
                    <label class="offert-price"><s>MXN $789.00/mes</s></label>
                    <h3>MXN $550.00/mes</h3>
                    <p class="card-text">
                        Este paquete está diseñado para dueños de restaurantes, gerentes y equipos administrativos que
                        buscan una solución avanzada para almacenar y gestionar información crucial de manera segura,
                        accesible y eficiente. 
                    </p>
                    <label for="" class="info-label">
                        ✔️ 300 Platillos/combos y 600 insumos
                        <br>
                        ✔️ 3,000 Clientes
                        <br>
                        ✔️ 3 GB en la base de datos
                        <br><br>
                    </label>
                    <a class="info-link">Más información</a>
                    <hr>
                    <div class="d-flex justify-content-end">
                        <button id="buyButton" class="btn btn-comprar" onclick="nextWeb('signup')">Comprar Ahora</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <center>
        <label for="">👁️
            Todas las sucursales que tengas en tu empresa se conectaran a esta base de datos para poder operar y
            conectarse con los servicios de la nube.
            <br>
            Suponiendo que tienes 5 restaurantes, cada sucursal se conectarab bajo la misma base de datos y compartiran todos los beneficios.
        </label>
    </center>
    <br>
</div>