{{>web/filesOldWeb/styles}}

<style>
    .active {
        background-color: var(--color-company);
        color: white;
    }
</style>

<div class="loader-content">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="sk-folding-cube">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
        </div>
    </div>
</div>

{{#if user}}
<section class="pricing-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>La mejor opcion para tu negocio 😉</span>
            <h1 class="title-main-2">Conoce nuestras ofertas</h1>
            <p>
                Contamos con los mejores paquetes para pequeños y grandes negocios. Puedes elegir el paquete que más se
                adecue a tus necesidades de empresario. Vende comida y aumenta tus ingresos, mientras nosotros nos
                centramos en administrar tus insumos, bebidas, reservaciones y empleados
            </p>
        </div>
        <div class="tab quote-list-tab">
            <div class="tab_content">
                <div class="tabs_item" id="restaurant-prices" style="display: none;">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-pricing">
                                <div class="pricing-top-heading">
                                    <h3>Free!! 😱</h3>
                                    Tienes acceso gratuito a la plataforma Füd Technology para usar el sistema POS de Füd y comprobar que es lo que tu negocio necesita. 
                                </div>
                                <span>$0<sub></sub></span>
                                <ul>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        100 platillos/combos y 200 insumos
                                    </li>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        1 cliente
                                    </li>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        Control de inventarios
                                    </li>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        ver reportes de ventas
                                    </li>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        Administracion de sucursales, stock, y empleados. 
                                    </li>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        1 GB en la base de datos
                                    </li>
                                </ul>
                                <form action="/fud/create-suscription-free" method="POST">
                                    <input type="hidden" name="price_id" value="price_1PNSBERofynVwfKYEmhYQvjI" />
                                    <button id="checkout-and-portal-button" type="submit" class="box-btn"
                                        status="{{user.id_packs_fud}}">Comprar ⭐</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-pricing degradado">
                                <div class="pricing-top-heading">
                                    <h3>Füd Studio 👨‍🍳</h3>
                                    Ideal para restaurantes y comida rapida
                                    que quieran tener el control de todo su negocio y ayudarlo a crecer.
                                </div>
                                <span>$2,999<sub>/Y</sub></span>
                                <ul>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        1,500 platillos/combos y 3,000 insumos
                                    </li>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        3,000 clientes
                                    </li>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        Control de inventarios
                                    </li>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        ver reportes de ventas
                                    </li>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        Administracion de sucursales, stock, y empleados. 
                                    </li>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        6 GB en la base de datos
                                    </li>
                                </ul>
                                <br><br>
                                <form action="/fud/create-suscription-studio" method="POST">
                                    <input type="hidden" name="price_id" value="price_1PJNdNRofynVwfKYW4wLLoyv" />
                                    <button id="checkout-and-portal-button" type="submit" class="box-btn">Hagámoslo!
                                        💪</button>
                                </form>
                                <strong class="popular">Popular</strong>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
                            <div class="single-pricing">
                                <div class="pricing-top-heading">
                                    <h3>Füd Cloud ☁️</h3>
                                    Para pequeños negocios familiares, taquerias y cafeterias
                                    que quieran tener el control de su inventario y más timepo libre con su familia.
                                </div>
                                <span>$299/<sub>/M</sub></span>
                                <ul>
                                     <li>
                                        <i class="fi fi-sr-star"></i>
                                        200 platillos/combos y 400 insumos
                                    </li>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        1,500 clientes
                                    </li>
                                      <li>
                                        <i class="fi fi-sr-star"></i>
                                        Control de inventarios
                                    </li>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        ver reportes de ventas
                                    </li>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        Administracion de sucursales, stock, y empleados. 
                                    </li>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        3 GB en la base de datos
                                    </li>
                                </ul>
                                <form action="/fud/create-suscription-cloude" method="POST">
                                    <input type="hidden" name="price_id" value="price_1P0bGoRofynVwfKYxXlwm62i" />
                                    <button id="checkout-and-portal-button" type="submit" class="box-btn">Comprar
                                        ⭐</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>









{{else}}
<section class="pricing-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>La mejor opcion para tu negocio 😉</span>
            <h1 class="title-main-2">Conoce nuestras ofertas</h1>
            <p>
                Contamos con los mejores paquetes para pequeños y grandes negocios. Puedes elegir el paquete que más se
                adecue a tus necesidades de empresario. Vende comida y aumenta tus ingresos, mientras nosotros nos
                centramos en administrar tus insumos, bebidas, reservaciones y empleados
            </p>
        </div>
        <div class="tab quote-list-tab">
            <div class="tab_content">
                <div class="tabs_item" id="restaurant-prices" style="display: none;">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-pricing">
                                <div class="pricing-top-heading">
                                    <h3>Free!! 😱</h3>
                                    Tienes acceso gratuito a la plataforma Füd Technology para usar el sistema POS de Füd y comprobar que es lo que tu negocio necesita. 
                                </div>
                                <span>$0<sub></sub></span>
                                <ul>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        100 platillos/combos y 200 insumos
                                    </li>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        1 cliente
                                    </li>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        Control de inventarios
                                    </li>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        ver reportes de ventas
                                    </li>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        Administracion de sucursales, stock, y empleados. 
                                    </li>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        1 GB en la base de datos
                                    </li>
                                </ul>
                                <button class="box-btn" onclick="nextWeb('login')">Comprar ⭐</button>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-pricing degradado">
                                <div class="pricing-top-heading">
                                    <h3>Füd Studio 👨‍🍳</h3>
                                    Ideal para restaurantes y comida rapida
                                    que quieran tener el control de todo su negocio y ayudarlo a crecer.
                                </div>
                                <span>$2,999<sub>/Y</sub></span>
                                <ul>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        1,500 platillos/combos y 3,000 insumos
                                    </li>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        3,000 clientes
                                    </li>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        Control de inventarios
                                    </li>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        ver reportes de ventas
                                    </li>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        Administracion de sucursales, stock, y empleados. 
                                    </li>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        6 GB en la base de datos
                                    </li>
                                </ul>
                                <br><br>
                                <button class="box-btn" onclick="nextWeb('login')">Hagámoslo! 💪</button>
                                <strong class="popular">Popular</strong>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
                            <div class="single-pricing">
                                <div class="pricing-top-heading">
                                    <h3>Füd Cloud ☁️</h3>
                                    Para pequeños negocios familiares, taquerias y cafeterias
                                    que quieran tener el control de su inventario y más timepo libre con su familia.
                                </div>
                                <span>$299/<sub>/M</sub></span>
                                <ul>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        200 platillos/combos y 400 insumos
                                    </li>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        1,500 clientes
                                    </li>
                                      <li>
                                        <i class="fi fi-sr-star"></i>
                                        Control de inventarios
                                    </li>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        ver reportes de ventas
                                    </li>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        Administracion de sucursales, stock, y empleados. 
                                    </li>
                                    <li>
                                        <i class="fi fi-sr-star"></i>
                                        3 GB en la base de datos
                                    </li>
                                </ul>
                                <button class="box-btn" onclick="nextWeb('login')">Comprar ⭐</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{/if}}
<center>
    <label for="">👁️
        Todas las suscripciones del software Füd Technology se venden por unica sucursal.
        <br>
        Cada sucursal de tu neogcio necesita una licencia individual de Füd Technology para poder operar y poder
        conectarse con los servicios de la nube.
        <br>
        Suponiendo que tiene 5 restaurantes, deberas tener 5 licencias del software para poder conectar todas tus
        sucursales bajo la misma empresa.
    </label>
</center>
</section>

<!--
    <section class="pricing-area pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <span>La mejor opcion para tu negocio 😉</span>
                <h1 class="title-main-2">Conoce nuestras ofertas</h1>
                <p>
                    Contamos con los mejores paquetes para pequeños y grandes negocios. Puedes elegir
                    el paquete que más se adecue a tus necesidades de empresario.
                    Vende comida y aumenta tus ingresos, mientras nosotrso nos centramos en administra tus comidas ,
                     bebidas, reservaciones y empleados. 
                </p>
            </div>
            <div class="tab quote-list-tab">
                <ul class="tabs">
                    <li>
                        <a href="#" onclick="showPrices('restaurant')" class="active">Restaurante</a>
                    </li>
                    <li>
                        <a href="#" onclick="showPrices('franchise')">Franquicia</a>
                    </li>
                </ul>
                <div class="tab_content">
                    <div class="tabs_item" id="restaurant-prices" style="display: none;">
                        <div class="row">
                            <div class="col-lg-4 col-sm-6">
                                <div class="single-pricing">
                                    <div class="pricing-top-heading">
                                        <h3>Free!! 😱</h3>
                                        El primer mes totalmente gratis para que compruebes que Füd es lo que necesita tu negocio.
                                        Al siguiente mes pasaras a la suscripcion Standard.
                                    </div>
                                    <span>$0<sub></sub></span>
                                    <ul>
                                        <li>                                           
						                    <i class="fi fi-sr-star"></i>			
                                            Control de inventarios
                                        </li>
                                        <li>
                                            <i class="fi fi-sr-star"></i>	
                                            Contabilidad e impuestos básicos
                                        </li>
                                        <li>
                                            <i class="fi fi-sr-star"></i>	
                                            Analisis del negocio
                                        </li>
                                        <li>
                                            <i class="fi fi-sr-star"></i>	
                                            ver reportes de ventas
                                        </li>
                                        <li>
                                            <i class="fi fi-sr-star"></i>	
                                            Controla las existencias en almacén y compras
                                        </li>
                                        <li>
                                            <i class="fi fi-rr-star"></i>
                                            Registro de clientes y provedores para poder tener tu negocio en orden.
                                        </li>
                                    </ul>
                                    1x<i class="fi fi-rr-store-alt"></i><br>   
                                    1x<i class="fi fi-rr-computer"></i><br><br>
                                    <a class="box-btn" href="shared-hosting.html">
                                        Comprar
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="single-pricing">
                                    <div class="pricing-top-heading">
                                        <h3>Standard 🛎️</h3>
                                        Para pequeños negocios familiares, taquerias y cafeterias
                                        que quieran tener el control de su inventario y más timepo libre con su familia.
                                    </div>
                                    <span>$299<sub>/M</sub></span>
                                    <ul>
                                        <li>                                           
						                    <i class="fi fi-sr-star"></i>			
                                            Todo lo que incluye el paquete basico 
                                        </li>
                                        <li>
                                            <i class="fi fi-sr-star"></i>	
                                            Cálculo automático del pago de tus empleados y sus horarios
                                        </li>
                                        <li>
                                            <i class="fi fi-sr-star"></i>
                                            Conteos de inventario, finanzas, y analíticas
                                        </li>
                                        <li>
                                            <i class="fi fi-sr-star"></i>
                                            Herramientas de reportes y marketing
                                        </li>
                                        <li>
                                            <i class="fi fi-sr-star"></i>
                                            1 año de suscripcion gratis a servicios a cliente 
                                        </li>
                                    </ul>
                                    2x<i class="fi fi-rr-store-alt"></i><br>   
                                    3x<i class="fi fi-rr-computer"></i>
                                    <br><br>
                                    <a class="box-btn" href="shared-hosting.html">
                                        Comprar
                                    </a>
                                    <strong class="popular">Popular</strong>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
                                <div class="single-pricing">
                                    <div class="pricing-top-heading">
                                        <h3>Premium 🍽️</h3>
                                        Ideal para restaurantes y comida rapida
                                        que quieran tener el control de todo su negocio y ayudarlo a crecer.
                                    </div>
                                    <span>$499<sub>/M</sub></span>
                                    <ul>
                                        <li>
                                            <i class="fi fi-sr-star"></i>	
                                            Todo lo que incluye el paquete estandar
                                        </li>
                                        <li>
                                            <i class="fi fi-sr-star"></i>	
                                            Perspectivas de desempeño laboral
                                        </li>
                                        <li>
                                            <i class="fi fi-sr-star"></i>	
                                            Análisis e informes avanzados
                                        </li>
                                        <li>
                                            <i class="fi fi-sr-star"></i>	
                                            Almacenamiento en la nube
                                        </li>
                                        <li>
                                            <i class="fi fi-sr-star"></i>	
                                            Gestiona transacciones en tu sistema en cualquier lugar usando la app de administardor
                                        </li>
                                    </ul>
                                    x5<i class="fi fi-rr-store-alt"></i><br>   
                                    8x<i class="fi fi-rr-computer"></i>
                                    <br>
                                    <a class="box-btn" href="shared-hosting.html">
                                        Comprar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs_item" id="franchise-prices" style="display: none;">
                        <div class="row">
                            <div class="col-lg-4 col-sm-6">
                                <div class="single-pricing">
                                    <div class="pricing-top-heading">
                                        <h3>Free!! 😱</h3>
                                        El primer mes totalmente gratis para que compruebes que Füd es lo que necesita tu negocio.
                                        Al siguiente mes pasaras a la suscripcion Füd studios.
                                    </div>
                                    <span>$0<sub>/M</sub></span>
                                    <ul>
                                        <li>
                                            <i class="fi fi-sr-star"></i>
                                            Resolver duddas en cuestion de minutos
                                        </li>
                                        <li>
                                            <i class="fi fi-sr-star"></i>
                                            Capacitacion gratis a tus empleados
                                        </li>
                                        <li>
                                            <i class="fi fi-sr-star"></i>
                                            Seguimiento de funcionalidad del software
                                        </li>
                                        <li>
                                            <i class="fi fi-sr-star"></i>
                                            Ayuda en gestion de tus negocios para un rapido crecimiento.
                                        </li>
                                        <li>
                                            <i class="fi fi-sr-star"></i>
                                            Tenemos a los mejores departamentos para solucionar tus problemas
                                        </li>
                                        <li>
                                            <i class="fi fi-sr-star"></i>
                                            200 puntos de lealtad 
                                        </li>
                                    </ul>
                                    <a class="box-btn" href="shared-hosting.html">
                                        Comprar
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="single-pricing">
                                    <div class="pricing-top-heading">
                                        <h3>Füd studios 👨‍🍳</h3>					
                                        Para pequeñas empresas que cuenten con 1 o más sucursales 
                                        y busquen la manera de espandir su negocio sin la necesidad de 
                                        estar presente.
                                    </div>
                                    <span>$699<sub>/M</sub></span>
                                    <ul>
                                        <li>
                                            <i class="fi fi-sr-star"></i>
                                            Administra tus insumos y productos.
                                        </li>
                                        <li>
                                            <i class="fi fi-sr-star"></i>
                                            Toma órdenes personalizadas
                                        </li>
                                        <li>
                                            <i class="fi fi-sr-star"></i>
                                            Herramientas de reportes y marketing
                                        </li>
                                        <li>
                                            <i class="fi fi-sr-star"></i>
                                            Crea comandas, reservaciones y combox de platillos.
                                        </li>
                                        <li>
                                            <i class="fi fi-sr-star"></i>
                                            Simplifica la capacitación de tus meseros y cocineros.
                                        </li>
                                        <li>
                                            <i class="fi fi-sr-star"></i>
                                            Reduce el tiempo de espera de las comandas.
                                        </li>
                                    </ul>
                                    <a class="box-btn" href="shared-hosting.html">
                                        Comprar
                                    </a>
                                    <strong class="popular">Popular</strong>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
                                <div class="single-pricing">
                                    <div class="pricing-top-heading">
                                        <h3>Füd Cloud 🤵🏻</h3>
                                        Para equipos, negocios y organizaciones que quieren maximizar el crecimiento y 
                                        escalar rápido en el mundo de las franquicias de restaurantes.
                                    </div>
                                    <span>$1,200 <sub>/M</sub></span>
                                    <ul>
                                        <li>
                                            <i class="fi fi-sr-star"></i>
                                            Crea membresias facilmente.
                                        </li>
                                        <li>
                                            <i class="fi fi-sr-star"></i>
                                            Maneja los accesos de tus clientes y zonas restringidas de acuerdo a la membresia que haya adquirido tu cliente.
                                        </li>
                                        <li>
                                            <i class="fi fi-sr-star"></i>
                                            Ventas de servicios y renta de objetos.
                                        </li>
                                        <li>
                                            <i class="fi fi-sr-star"></i>
                                            Herramienta de reporte y marketing 
                                        </li>
                                        <li>
                                            <i class="fi fi-sr-star"></i>
                                            Crea promociones y atrae a mas clientes a tu negocio. 
                                        </li>
                                    </ul>
                                    <a class="box-btn" href="shared-hosting.html">
                                        Comprar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <center>
        <label for="">👁️ 
            Todas las suscripciones del software Füd Technology se venden por unica sucursal. 
            <br>
            Cada sucursal de tu neogcio necesita una licencia individual de Füd Technology para poder operar y poder conectarse con los servicios de la nube.
            <br>
            Suponiendo que tiene 5 restaurantes, deberas tener 5 licencias del software para poder conectar todas tus sucursales bajo la misma empresa.
        </label>
    </center>
    </section>
    --->
{{>web/filesOldWeb/js}}
<script>
    function showPrices(type) {
        if (type === 'restaurant') {
            document.getElementById('restaurant-prices').style.display = 'block';
            document.getElementById('franchise-prices').style.display = 'none';
        } else if (type === 'franchise') {
            document.getElementById('restaurant-prices').style.display = 'none';
            document.getElementById('franchise-prices').style.display = 'block';
        }
        // Establecer el botón activo
        document.querySelectorAll('.tabs a').forEach(item => {
            item.classList.remove('active');
        });
        document.querySelector(`.tabs a[href="#"][onclick="showPrices('${type}']`).classList.add('active');
    }
    // Llamar a la función showPrices al cargar la página
    window.onload = function () {
        showPrices('restaurant');
    };
</script>
<script>
    //this script is for that the user not have most free pack
    // Obtener el botón por su ID
    const button = document.getElementById('checkout-and-portal-button');

    // Obtener el valor del atributo 'status' del botón
    const statusValue = button.getAttribute('status');

    // Verificar si el valor del status es diferente de 0
    if (statusValue !== '0') {
        button.remove();
    }
</script>