<form action="">
    <div class="col">
        <label>Image (2,000x400)</label><br>
        <img src="/img/ad.png" alt="" class="img-carousel" id="previewImage1">
        <input type="file" accept="image/*" id="uploadInput1" style="display: none;" onchange="previewFile(1)">
        <button type="button" class="btn" onclick="document.getElementById('uploadInput1').click()"><i class="fi-icon fi-br-upload"></i> Upload</button>
        <button type="button" class="btn" onclick="document.getElementById('uploadInput1').click()"><i class="fi-icon fi-sr-square-plus"></i> Add</button>
    </div>
</form>
<hr>
<div class="row">
    <div class="col">
        <label>All the image of the carousel</label><br>
        <img src="/img/ad.png" alt="" class="img-carousel" id="previewImage2">
        <input type="file" accept="image/*" id="uploadInput2" style="display: none;" onchange="previewFile(2)">
        <button type="button" class="btn" onclick="document.getElementById('uploadInput2').click()"><i class="fi-icon fi-br-upload"></i> Upload</button>
        <button type="button" class="btn" onclick="document.getElementById('uploadInput2').click()"><i class="fi-icon fi-rr-refresh"></i> Update</button>
        <button type="button" class="btn" onclick="document.getElementById('uploadInput2').click()"><i class="fi-icon fi-sr-trash"></i> Delete</button>
    </div>
    <div class="col">
        <img src="/img/ad.png" alt="" class="img-carousel" id="previewImage2">
        <input type="file" accept="image/*" id="uploadInput2" style="display: none;" onchange="previewFile(2)">
        <button type="button" class="btn" onclick="document.getElementById('uploadInput2').click()"><i class="fi-icon fi-br-upload"></i> Upload</button>
        <button type="button" class="btn" onclick="document.getElementById('uploadInput2').click()"><i class="fi-icon fi-rr-refresh"></i> Update</button>
        <button type="button" class="btn" onclick="document.getElementById('uploadInput2').click()"><i class="fi-icon fi-sr-trash"></i> Delete</button>
    </div>
</div>