<br>
<div class="container">
    <label for=""><i class="fi-icon fi-sr-credit-card"></i> My Suscriptions</label>
    <hr>
    <div class="row">
        <div class="col-3">
            <div class="card" style="padding-left: 1rem;padding-right: 4rem;">
                <label for="">number of subscriptions: 1</label>
            </div>
        </div>
        <div class="col-2">
            <a href="/fud/prices">+</a>
        </div>
    </div>
    <br>
    <div class="card" style="padding-left: 4rem;padding-right: 4rem;">
        <br>
        <table class="table">
            <tr>
                <th><label for="">id</label></th>
                <th><label for="">pack</label></th>
                <th><label for="">company</label></th>
                <th><label for="">branch</label></th>
                <th></th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>