:root {
    --width-carousel: 400px;
}

/*carousel ad*/
.carousel-inner{
    width: 100%;
    height: var(--width-carousel);   
    object-fit: cover;
}

.div-carousel-promo{
    width: 100%;
    height: 100%;
}

.img-carousel-promo{
    width: 100%;
    height: 100%;
}

/**/
.title-home-store {
    margin-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
}

.body-card-product{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.slide-container{
    width: 100%;
    height: 500px;
    background-color: aliceblue;
    padding: 40px 0;
    margin: 0 20px;
}

.slide-content{
    margin: 0 40px;
}

.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content{
    position: relative;
    row-gap: 5px;
    border-radius: 25px 25px 0 25px;
    padding: 25px 0;
}


.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-company);
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: var(--color-company);
}

.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: white;
}


.card{
    background-color: white;
    border-radius: 2rem;
    margin-bottom: 10px; 
}

.card-image{
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 10%;
    padding: 3px;
    transition: .3s ease;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15%;
    transition: .3s ease;
}

.name{
    font-size:18px;
    font-weight: 500;
    color: #333;
    text-align: center;
}

.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.fi-icon-card{
    font-size: 25px;
    color: white;
    align-items: center;
}

.button-card{
    border: none;
    font-size: 16px;
    color: white;
    padding: 8px 16px;
    background-color: var(--color-company);
    border-radius: 1.4rem;
    margin: 14px;
    cursor: pointer;
    transition: .3s ease;
    width: 50%;
    text-align: center;
    align-items: center;
}

.button-card:hover{
    background-color: var(--color-hover);
}

.swiper-button-next{
    color: var(--color-company);
}

.swiper-button-prev{
    color: var(--color-company);
}

.swiper-button-pagination{
    color: var(--color-company);
}




.card-image:hover{
    height: 210px;
    width: 210px;  
    transition: .3s ease;
}

.card-image .card-img:hover{
    transition: .3s ease;
    border-radius: 10%;
}    

/*
@media screen and (min-width: 1174){
    .card-image .card-img:hover{
        transition: .3s ease;
        border-radius: 10%;
    }    
}*/