@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&display=swap');

.img-info{
    width: 100%;
}

.title-main-2{
    color: var(--color-footer);
    font-size: 3rem;
    font-family: 'Archivo Black', sans-serif;
}

.title-main{
    color: var(--color-company);
    font-size: 3rem;
    font-family: 'Archivo Black', sans-serif;
}

.li-main{
    font-size: 1rem;
    font-family:'Lato', sans-serif;
}

.li-main::marker {
    color: var(--color-company);
}

.btn-company{
    background-color: var(--color-company);
    border-radius: .5rem;
    color: white;
    width: 140px;
    height: 50px;
    font-family: 'Archivo Black', sans-serif;
    font-size: 1rem;
    transition: all .4s;
}

.btn-company:hover{
    border-radius: .4rem;
    width: 145px;
    height: 55px;
    font-size: 1.2rem;
    transition: all .4s;
}

.div-separator-main{
    background-color: rgba(0,0,0,.1);
}

.separator-text-main{
    font-family:'Lato', sans-serif;
}

.container-2-main{
    background-color: var(--color-company);
}

.title-white{
    color: white;
    font-family: 'Archivo Black', sans-serif;
    font-size: 4.5rem;
}

.text-white{
    color: white;
    font-size: 1.1rem;
}

.card-price{
    position: relative;
    max-width: 80%;
    height: 195px;
    background-color: var(--color-company);
    color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    text-align: left;
    padding-left: 70px;
    z-index: 1;
}
/*
.card-price::before {
    content: ""; 
    position: absolute; 
    top: 35px; 
    left: 85%; 
    width: 240px; 
    height: 240px; 
    border-radius: 50%; 
    background-color: rgba(255,255,255,0.1); 
    z-index: 1;
}*/

.btn-card-price {
    border-radius: 1rem;
    background-color: var(--color-company);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
    color: white;
    width: 200px;
    height: 50px;
    z-index: 2;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.btn-card-price:hover {
    background-color: white;
    color: var(--color-company);
}


@media screen and (max-width: 1300px){
    .card-price{
        max-width: 80%;
        height: 210px;
    }

    .btn-card-price {
        border-radius: 1rem;
        width: 200px;
        top: 75px;
        position: absolute;
    }

    .title-main-2{
        font-size: 2.1rem;
    }
}