<link rel="stylesheet" href="/css/web/language.css">
{{#if digitalMenu}}
{{else}}
{{#if user}}
{{else}}
    <footer class="container-footer">
        <br>
        <center><img src="/img/logo2.png" alt="" class="logo-footer"></center>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <ul class="ul-footer">
                        <li><h5 class="title-footer">Comunidad</h5></li>
                        <!---
                        <li><a href="" class="link-footer">Tutoriales</a></li>
                        <li><a href="" class="link-footer">Documentación</a></li>
                        <li><a href="" class="link-footer">Preguntas frecuentes</a></li>
                        --->
                        <li><a href="/fud/download" class="link-footer">Descargar</a></li>
                    </ul>
                </div>
                <div class="col-2">
                    <ul class="ul-footer">
                        <li><h5 class="title-footer">Servicios</h5></li>
                        <li><a href="/fud/prices" class="link-footer">Füd Studio</a></li>
                        <li><a href="/fud/prices" class="link-footer">Füd Cloud</a></li>
                        <li><a href="/fud/download" class="link-footer">Füd Desktop</a></li>
                        <li><a href="/fud/prices" class="link-footer">Precios</a></li>
                        <li><a href="/fud/contact-us" class="link-footer">Contáctanos</a></li>
                        <li></li><br>
                        <li><a href="/fud/partners" class="link-footer">Encuentra un Socio</a></li>
                        <li><a href="/fud/partners" class="link-footer">Conviértete en Socio</a></li>
                    </ul>
                </div>
                <div class="col-2">
                    <ul class="ul-footer">
                        <li><h5 class="title-footer">Nuestra empresa</h5></li>
                        <li><a href="/fud/our-company" class="link-footer">Nuestra empresa</a></li>
                        <!--<li><a href="" class="link-footer">Empleos</a></li>-->
                        <li><a href="/fud/contact-us" class="link-footer">Contáctanos</a></li>
                        <li></li><br>
                        <li><a href="/fud/privacy" class="link-footer">Legal • Privacidad</a></li>
                        <li><a href="/fud/terms_conditions" class="link-footer">Términos y condiciones</a></li>
                        <br>
                        <li><h5 class="title-footer">Contacto</h5></li>
                        <li><a href="" class="link-footer">{{>web/phone}}</a></li>
                        <li><a href="" class="link-footer">{{>web/email}}</a></li>
                    </ul>
                </div>
                <div class="col-6">
                    <h6 class="title-footer-2">Füd es el mejor software de gestión para franquicias de restaurantes</h6>
                    <p class="text-footer">
                        Füd es la aplicación que cubre todas las necesidades de tu empresa: CRM, eCommerce, contabilidad, inventario, punto de venta, gestión de proyectos, etc.
                        <br><br>
                        Creemos que el código es arte y estamos motivados para crear el software más fácil, amigable y hermoso del mercado.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="container-copyright">
            <center><p>© 2024 Füd. Todos los derechos reservados.</p></center>
        </div>
    </footer>
{{/if}}
{{/if}}
