<link rel="stylesheet" href="/css/web/icon-whatsapp.css">
<div id="whatsapp">
    <a href="" id="toggle1" class="wtsapp" target="_blank"><i class="fi fi-brands-whatsapp"></i></a>
</div>
<script>
    document.getElementById('toggle1').onclick = function() {
        // El número de teléfono debe estar en formato internacional sin el signo +
        var phoneNumber = '524443042129'; // Ejemplo de número de México
        var message = encodeURIComponent('Hola, me gustaría obtener más información sobre Füd 👨‍🍳');
        var whatsappUrl = 'https://api.whatsapp.com/send?phone=' + phoneNumber + '&text=' + message;
        window.location.href = whatsappUrl;
    }
</script>