<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="/css/session.css">
    <!--this is the style of the new navbar, not delete--->
    {{>web/filesOldWeb/styles}}
    <style>
        .fi-session {
            color: black;
        }
    </style>
</head>

<body>

    <section class="body-session">
        <div class="container p-4">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <form action="/fud/login" method="POST">
                                <center>
                                    <h1 class="title-session">Iniciar sesión</h1>
                                </center>
                                <br>
                                <div class="row g-2 align-items-center">
                                    <div class="col-11">
                                        <i class="fi-session fi-rr-user">Correo electrónico *</i>
                                        <input type="text" id="userName" name="userName" placeholder="Correo electrónico"
                                            class="form-control" autofocus>
                                    </div>
                                </div>

                                <br>
                                <div class="row g-2 align-items-center">
                                    <div class="col-11">
                                        <i class="fi-session fi-rr-lock">Contraseña *</i>
                                        <input type="password" id="password" name="password" placeholder="Contraseña"
                                            class="form-control">
                                    </div>
                                    <div class="col-auto align-items-center" style="container: center;">
                                        <br>
                                        <button type="button" id="showPasswordBtn" onclick="togglePasswordVisibility()" class="btn"> <i class="fi-session fi-rr-eye"></i></button>
                                    </div>
                                </div>
                                <br>
                                <button class="btn btn-success btn-block">Iniciar sesión</button>
                                <br><br>
                                <center><a class="link-session" href="/fud/restart-password">¿Olvidaste tu contraseña?</a></center>
                                <br><br><br>
                                <label class="link-session">¿No tienes una cuenta?</label><a class="link-singUp"
                                    href="/fud/signup">Regístrate</a>
                                <br><br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>


<script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById("password");
        var showPasswordBtn = document.getElementById("showPasswordBtn");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            showPasswordBtn.innerHTML = '<i class="fi-session fi-sr-eye-crossed "></i>'; // Cambia el ícono del botón
        } else {
            passwordInput.type = "password";
            showPasswordBtn.innerHTML = '<i class="fi-session fi-sr-eye"></i>'; // Cambia el ícono del botón
        }
    }
</script>
<!--this is the js of the new navbar, not delete--->
{{>web/filesOldWeb/js}}
