<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="/css/web/web.css">

{{>web/main}}








<div class="container">
    <header>
        <h1>BIENVENIDO</h1>
        <h2>fud</h2>
        <p>El mejor software CRM para tu franquicia</p>
        <button>Mas informacion</button>
        <img src="" alt="">
        <img src="" alt="">
    </header>
</div>
<div class="container">
    <br>
    <div class="row">
        <div class="col-6">
            <img src="/img/web/img-1.webp" alt="" class="img-info">
        </div>
        <div class="col-6">
            <label>Tienda online</label>

            <h1 class="title-main-2">Adapta tu <br> negocio a la</h1>
            <h1 class="title-main">nueva normalidad</h1>
            <p>Reciba pedidos a través de nuestros canales de venta online:</p>
            <ul>
                <li class="li-main">Online Menu</li>
                <li class="li-main">Integración con Uber Eats, Rappi, Justo y Didi</li>
                <li class="li-main">Integración con Mercado Pago</li>
            </ul>
            <i class="fi-icon fi-sr-right"></i><button class="btn-company">Leer más</button>
        </div>
    </div>
    <br>
</div>


<div class="div-separator-main">
    <div class="container">
        <br><br>
        <center>
            <h1 class="title-main-2">Todo lo que necesitas para mejorar tu empresa a un solo clic.</h1>
            <h4 class="separator-text-main">
                <br><br>
                Creemos que la tegnologia es arte y nos motiva crear el más fácil, amigable y hermoso
                software en el mercado.
                <br>
            </h4>
            <h5>CRM, eCommerce, accounting, inventory, point of sale, project management, etc. </h5>
            <iframe width="100%" height="530" src="https://www.youtube.com/watch?v=nbso3NVz3p8" frameborder="0"
                allowfullscreen></iframe>
        </center>
        <br><br>
    </div>
</div>


<br><br><br>
<div class="container" style="background-color: white;">
    <br>
    <div class="row">
        <div class="col-6">
            <video src="https://cdn-icons-mp4.flaticon.com/512/12817/12817464.mp4" autoplay playing loop preload="auto" muted></video>
        </div>
        <div class="col-6">
            <label>SERVICIOS EFICIENTES</label>

            <h1 class="title-main-2">Carga pedidos y<br>emite comandas</h1>
            <h1 class="title-main">en segundos</h1>
            <h5>Reduce tiempos de espera, evita errores y haz fluir tu negocio.</h5>
            <i class="fi-icon fi-sr-right"></i><button class="btn-company">Download</button>
        </div>
    </div>
    <br>
</div>
<br><br><br><br><br><br><br><br><br>
<div class="container" style="background-color: white;">
    <br>
    <div class="row">
        <div class="col-6">
            <label>MEJORES RESULTADOS</label>
            <h1 class="title-main">Registra</h1>
            <h1 class="title-main-2">ventas, gastos y stock</h1>
            <h5>Obtén información clave para tomar decisiones acertadas..</h5>
            <i class="fi-icon fi-sr-right"></i><button class="btn-company">Read most</button>
        </div>
        <div class="col-6">
            <video src="https://cdn-icons-mp4.flaticon.com/512/12147/12147186.mp4" autoplay playing loop preload="auto" muted></video>
        </div>
    </div>
    <br>
</div>
<br><br><br>

<div class="container-2-main">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img src="https://cdn-icons-png.flaticon.com/512/1920/1920715.png" alt="">
            </div>
            <div class="col-6">
                <h1 class="title-white">Una única solución para cualquier tipo de negocio.</h1>
                <p class="text-white">No importa si tienes un restaurante, un foodtruck, una tienda o realizas envíos a domicilio. <strong>Füd se hace cargo.</strong></p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <br>
    <center>
        <h4 class="title-main-2">Todo tu negocio en la palma de tu mano</h4>
    </center>
    <br>
    <div class="row">
        <div class="col-3">
            <img src="https://cdn-icons-png.flaticon.com/512/1301/1301977.png" alt="" class="img-info">
            <center><h4>Tablets/Ipad</h4></center>
        </div>
        <div class="col-3">
            <img src="https://cdn-icons-png.flaticon.com/512/3067/3067287.png" alt="" class="img-info">
            <center><h4>PC Desktop</h4></center>
        </div>
        <div class="col-3">
            <img src="https://cdn-icons-png.flaticon.com/256/4474/4474120.png" alt="" class="img-info">
            <center><h4>Cell phone</h4></center>
        </div>
        <div class="col-3">
            <img src="https://cdn-icons-png.flaticon.com/512/2463/2463068.png" alt="" class="img-info">
            <center><h4>Web</h4></center>
        </div>
    </div>
    <br>
    <center>
        <h5>Agrega tecnología a tu negocio con nuestras aplicaciones móviles y dile adiós al lápiz y al papel</h5>
        <br>
        <button class="btn-company"><i class="fi-icon fi-sr-down-to-line"></i>Pruebalo</button>
    </center>
    <br>
</div>

<div class="container-2-main">
    <div class="container">
        <div class="row">
            <br>
            <h1 class="title-white">Desde MXN 299 por mes final.</h1>
            <center>
                <p class="text-white">
                    ¡Elige un plan según tus necesidades<br>
                    !Pruébalo <strong>GRATIS</strong> y decide si es para ti.
                </p>
                <br>
                <button class="btn-company">Pruebalo Gratis</button>
            </center>
            <br>
        </div>
    </div>
</div>


<div class="container">
    <center><h3 class="title-main-2">Somos el software que los negocios <br> eligen</h3></center>
    <center>
    <div class="row">
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <img src="https://i.pinimg.com/originals/23/e6/64/23e664116abe4788c7d8750ab9379b5f.png" alt="" class="img-info">
                    <h5 class="card-title">KFC</h5>
                    <h6 class="card-subtitle mb-2 text-muted">"Füd es el colaborador virtual perfecto para mi negocio"</h6>
                    <p class="card-text">Javier, Juanito’s ChickenCDMX</p>
                </div>
            </div>       
        </div>

        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <img src="https://i.pinimg.com/originals/23/e6/64/23e664116abe4788c7d8750ab9379b5f.png" alt="" class="img-info">
                    <h5 class="card-title">KFC</h5>
                    <h6 class="card-subtitle mb-2 text-muted">"Füd es el colaborador virtual perfecto para mi negocio"</h6>
                    <p class="card-text">Javier, Juanito’s ChickenCDMX</p>
                </div>
            </div>            
        </div>
    </div>
    </center>
    <hr>
    <br>
    <center><label><i class="fi-icon fi-sr-heart"></i>Nuestros clientes</label></center>
    <br>
    <div class="row">
        <div class="col">
            <img src="https://i.pinimg.com/originals/23/e6/64/23e664116abe4788c7d8750ab9379b5f.png" alt="" class="img-info">
        </div>
        <div class="col">
            <img src="https://i.pinimg.com/originals/23/e6/64/23e664116abe4788c7d8750ab9379b5f.png" alt="" class="img-info">
        </div>
        <div class="col">
            <img src="https://i.pinimg.com/originals/23/e6/64/23e664116abe4788c7d8750ab9379b5f.png" alt="" class="img-info">
        </div>
        <div class="col">
            <img src="https://i.pinimg.com/originals/23/e6/64/23e664116abe4788c7d8750ab9379b5f.png" alt="" class="img-info">
        </div>
        <div class="col">
            <img src="https://i.pinimg.com/originals/23/e6/64/23e664116abe4788c7d8750ab9379b5f.png" alt="" class="img-info">
        </div>
        <div class="col">
            <img src="https://i.pinimg.com/originals/23/e6/64/23e664116abe4788c7d8750ab9379b5f.png" alt="" class="img-info">
        </div>
        <div class="col">
            <img src="https://i.pinimg.com/originals/23/e6/64/23e664116abe4788c7d8750ab9379b5f.png" alt="" class="img-info">
        </div>
        <div class="col">
            <img src="https://i.pinimg.com/originals/23/e6/64/23e664116abe4788c7d8750ab9379b5f.png" alt="" class="img-info">
        </div>
    </div>
    <br>
</div>