<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="/css/web/web.css">
<div class="container">
    <br>
    <div class="row">
        <div class="col-6">
            <img src="/img/web/img-1.webp" alt="" class="img-info">
        </div>
        <div class="col-6">
            <label>Online Sales</label>

            <h1 class="title-main-2">Adapt your <br> business to the</h1>
            <h1 class="title-main">new normal</h1>
            <p>Receive orders through our online sales channels:</p>
            <ul>
                <li class="li-main">Online Menu</li>
                <li class="li-main">Integration with Uber Eats, Rappi, Justo, and Didi.</li>
                <li class="li-main">Integration with Mercado Pago</li>
            </ul>
            <i class="fi-icon fi-sr-right"></i><button class="btn-company">Read most</button>
        </div>
    </div>
    <br>
</div>


<div class="div-separator-main">
    <div class="container">
        <br><br>
        <center>
            <h1 class="title-main-2">Everything you need to improve your company with a single click.</h1>
            <h4 class="separator-text-main">
                <br><br>
                We believe that code is art and we are motivated to create the easiest, friendliest and most beautiful
                software on the market. <br>
            </h4>
            <h5>CRM, eCommerce, accounting, inventory, point of sale, project management, etc. </h5>
            <iframe width="100%" height="530" src="https://www.youtube.com/watch?v=nbso3NVz3p8" frameborder="0"
                allowfullscreen></iframe>
        </center>
        <br><br>
    </div>
</div>

<div class="container">
    <br>
    <div class="row">
        <div class="col-6">
            <iframe width="100%" height="530" src="https://cdn-icons-mp4.flaticon.com/512/9820/9820032.mp4" alt=""
                class="img-info"></iframe>
        </div>
        <div class="col-6">
            <label>SERVICIO EFICIENTE</label>

            <h1 class="title-main-2">Carga pedidos y<br>emite comandas</h1>
            <h1 class="title-main">en segundos</h1>
            <h5>Reduce tiempos de espera, evita errores y haz fluir tu negocio.</h5>
            <i class="fi-icon fi-sr-right"></i><button class="btn-company">Download</button>
        </div>
    </div>
    <br>
</div>

<div class="container">
    <br>
    <div class="row">
        <div class="col-6">
            <label>MEJORES RESULTADOS</label>
            <h1 class="title-main">Registra</h1>
            <h1 class="title-main-2">ventas, gastos y stock</h1>
            <h5>Obtén información clave para tomar decisiones acertadas..</h5>
            <i class="fi-icon fi-sr-right"></i><button class="btn-company">Read most</button>
        </div>
        <div class="col-6">
            <iframe width="100%" height="530" src="https://cdn-icons-mp4.flaticon.com/512/9820/9820032.mp4" alt=""
                class="img-info"></iframe>
        </div>
    </div>
    <br>
</div>

<div class="container-2-main">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img src="https://cdn-icons-png.flaticon.com/512/1920/1920715.png" alt="">
            </div>
            <div class="col-6">
                <h1 class="title-white">Una única solución para cualquier tipo de negocio.</h1>
                <p class="text-white">No importa si tienes un restaurante, un foodtruck, una tienda o realizas envíos a domicilio. <strong>Füd se hace cargo.</strong></p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <br>
    <center>
        <h4 class="title-main-2">All the tech in one platform</h4>
    </center>
    <br>
    <div class="row">
        <div class="col-3">
            <img src="https://cdn-icons-png.flaticon.com/512/1301/1301977.png" alt="" class="img-info">
            <center><h4>Tablets/Ipad</h4></center>
        </div>
        <div class="col-3">
            <img src="https://cdn-icons-png.flaticon.com/512/3067/3067287.png" alt="" class="img-info">
            <center><h4>PC Desktop</h4></center>
        </div>
        <div class="col-3">
            <img src="https://cdn-icons-png.flaticon.com/256/4474/4474120.png" alt="" class="img-info">
            <center><h4>Cell phone</h4></center>
        </div>
        <div class="col-3">
            <img src="https://cdn-icons-png.flaticon.com/512/2463/2463068.png" alt="" class="img-info">
            <center><h4>Web</h4></center>
        </div>
    </div>
    <br>
    <center>
        <h5>Agrega tecnología a tu negocio con nuestras aplicaciones móviles y dile adiós al lápiz y al papel</h5>
        <br>
        <button class="btn-company"><i class="fi-icon fi-sr-down-to-line"></i>Prove</button>
    </center>
    <br>
</div>

<div class="container">
    <center><h3 class="title-main-2">Más de 10.000 negocios <br> nos eligen</h3></center>
    <center>
    <div class="row">
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <img src="https://i.pinimg.com/originals/23/e6/64/23e664116abe4788c7d8750ab9379b5f.png" alt="" class="img-info">
                    <h5 class="card-title">KFC</h5>
                    <h6 class="card-subtitle mb-2 text-muted">"Füd es el colaborador virtual perfecto para mi negocio"</h6>
                    <p class="card-text">Javier, Juanito’s ChickenCDMX</p>
                </div>
            </div>       
        </div>

        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <img src="https://i.pinimg.com/originals/23/e6/64/23e664116abe4788c7d8750ab9379b5f.png" alt="" class="img-info">
                    <h5 class="card-title">KFC</h5>
                    <h6 class="card-subtitle mb-2 text-muted">"Füd es el colaborador virtual perfecto para mi negocio"</h6>
                    <p class="card-text">Javier, Juanito’s ChickenCDMX</p>
                </div>
            </div>            
        </div>
    </div>
    </center>
    <hr>
    <br>
    <center><label><i class="fi-icon fi-sr-heart"></i>Us Customers</label></center>
    <br>
    <div class="row">
        <div class="col">
            <img src="https://i.pinimg.com/originals/23/e6/64/23e664116abe4788c7d8750ab9379b5f.png" alt="" class="img-info">
        </div>
        <div class="col">
            <img src="https://i.pinimg.com/originals/23/e6/64/23e664116abe4788c7d8750ab9379b5f.png" alt="" class="img-info">
        </div>
        <div class="col">
            <img src="https://i.pinimg.com/originals/23/e6/64/23e664116abe4788c7d8750ab9379b5f.png" alt="" class="img-info">
        </div>
        <div class="col">
            <img src="https://i.pinimg.com/originals/23/e6/64/23e664116abe4788c7d8750ab9379b5f.png" alt="" class="img-info">
        </div>
        <div class="col">
            <img src="https://i.pinimg.com/originals/23/e6/64/23e664116abe4788c7d8750ab9379b5f.png" alt="" class="img-info">
        </div>
        <div class="col">
            <img src="https://i.pinimg.com/originals/23/e6/64/23e664116abe4788c7d8750ab9379b5f.png" alt="" class="img-info">
        </div>
        <div class="col">
            <img src="https://i.pinimg.com/originals/23/e6/64/23e664116abe4788c7d8750ab9379b5f.png" alt="" class="img-info">
        </div>
        <div class="col">
            <img src="https://i.pinimg.com/originals/23/e6/64/23e664116abe4788c7d8750ab9379b5f.png" alt="" class="img-info">
        </div>
    </div>
    <br>
</div>