<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="/css/web/web.css">

{{>web/main}}


<br>
<div class="container">
    <center><h3 class="title-main-2">Somos el software que los negocios <br> eligen</h3></center>
    <hr>
    <br>
    <center><label><i class="fi-icon fi-sr-heart"></i>Nuestros clientes</label></center>
    <br>
    <div class="row">
        <div class="col">
            <img src="https://i.pinimg.com/originals/23/e6/64/23e664116abe4788c7d8750ab9379b5f.png" alt="" class="img-info">
        </div>
        <div class="col">
            <img src="https://i.pinimg.com/originals/23/e6/64/23e664116abe4788c7d8750ab9379b5f.png" alt="" class="img-info">
        </div>
        <div class="col">
            <img src="https://i.pinimg.com/originals/23/e6/64/23e664116abe4788c7d8750ab9379b5f.png" alt="" class="img-info">
        </div>
        <div class="col">
            <img src="https://i.pinimg.com/originals/23/e6/64/23e664116abe4788c7d8750ab9379b5f.png" alt="" class="img-info">
        </div>
        <div class="col">
            <img src="https://i.pinimg.com/originals/23/e6/64/23e664116abe4788c7d8750ab9379b5f.png" alt="" class="img-info">
        </div>
        <div class="col">
            <img src="https://i.pinimg.com/originals/23/e6/64/23e664116abe4788c7d8750ab9379b5f.png" alt="" class="img-info">
        </div>
        <div class="col">
            <img src="https://i.pinimg.com/originals/23/e6/64/23e664116abe4788c7d8750ab9379b5f.png" alt="" class="img-info">
        </div>
        <div class="col">
            <img src="https://i.pinimg.com/originals/23/e6/64/23e664116abe4788c7d8750ab9379b5f.png" alt="" class="img-info">
        </div>
    </div>
    <br>
</div>