<div class="form-group">
    <h6>Our Combos</h6>
    <div class="row">
        <div class="col">
            <label>Image 1</label><br>
            <img src="https://cdn.pixabay.com/photo/2017/01/25/17/35/picture-2008484_1280.png" alt="" class="img-ad">
            <button type="button" class="btn"><i class="fi-icon fi-br-upload"></i> Upload</button>
        </div>
        <div class="col">
            <label>Image 2</label><br>
            <img src="https://cdn.pixabay.com/photo/2017/01/25/17/35/picture-2008484_1280.png" alt="" class="img-ad">
            <button type="button" class="btn"><i class="fi-icon fi-br-upload"></i> Upload</button>
        </div>
        <div class="col">
            <label>Image 3</label><br>
            <img src="https://cdn.pixabay.com/photo/2017/01/25/17/35/picture-2008484_1280.png" alt="" class="img-ad">
            <button type="button" class="btn"><i class="fi-icon fi-br-upload"></i> Upload</button>
        </div>
    </div>  
    <div class="row">
        <div class="col">
            <label>Image 4</label><br>
            <img src="https://cdn.pixabay.com/photo/2017/01/25/17/35/picture-2008484_1280.png" alt="" class="img-ad">
            <button type="button" class="btn"><i class="fi-icon fi-br-upload"></i> Upload</button>
        </div>
        <div class="col">
            <label>Image 5</label><br>
            <img src="https://cdn.pixabay.com/photo/2017/01/25/17/35/picture-2008484_1280.png" alt="" class="img-ad">
            <button type="button" class="btn"><i class="fi-icon fi-br-upload"></i> Upload</button>
        </div>
        <div class="col">
            <label>Image 6</label><br>
            <img src="https://cdn.pixabay.com/photo/2017/01/25/17/35/picture-2008484_1280.png" alt="" class="img-ad">
            <button type="button" class="btn"><i class="fi-icon fi-br-upload"></i> Upload</button>
        </div>
    </div>  
    <hr>
    <h6>Specials</h6>
    <div class="row">
        <div class="col">
            <label>Image 1</label><br>
            <img src="https://cdn.pixabay.com/photo/2017/01/25/17/35/picture-2008484_1280.png" alt="" class="img-ad">
            <button type="button" class="btn"><i class="fi-icon fi-br-upload"></i> Upload</button>
        </div>
        <div class="col">
            <label>Image 2</label><br>
            <img src="https://cdn.pixabay.com/photo/2017/01/25/17/35/picture-2008484_1280.png" alt="" class="img-ad">
            <button type="button" class="btn"><i class="fi-icon fi-br-upload"></i> Upload</button>
        </div>
        <div class="col">
            <label>Image 3</label><br>
            <img src="https://cdn.pixabay.com/photo/2017/01/25/17/35/picture-2008484_1280.png" alt="" class="img-ad">
            <button type="button" class="btn"><i class="fi-icon fi-br-upload"></i> Upload</button>
        </div>
        <div class="col">
            <label>Image 4</label><br>
            <img src="https://cdn.pixabay.com/photo/2017/01/25/17/35/picture-2008484_1280.png" alt="" class="img-ad">
            <button type="button" class="btn"><i class="fi-icon fi-br-upload"></i> Upload</button>
        </div>
    </div>  
</div>
