<head>
    <link rel="stylesheet" href="/css/manager/employee/employee.css">
</head>
<body>
    <br>
    <div class="container">
        <div id="App" class="row pt-5">
            {{>manager/employees/table}}
            {{>manager/employees/description}}
        </div>
    </div>

    <script>
        async function delete_employee(idCompany,idBranch,idUser){
            if(await questionMessage('Delete employee','Do you delete this employee?')){
                window.location.href = "/fud/"+idCompany+'/'+idBranch+'/'+idUser+"/delete-employee";
            }
        }
    </script>
    <script src="/js/other.js"></script>
    <script src="/js/search.js"></script>
</body>