<div class="navigation">
    <ul>
        <li class="list">
            <a>
                <span class="icon-menu-home"><i class="fi-icon fi-sr-home"></i></span>
                <span class="text-menu-home">Home</span>
            </a>
        </li>
        <li class="list">
            <a>
                <span class="icon-menu-home"><i class="fi-icon fi-sr-restaurant"></i></span>
                <span class="text-menu-home">The new</span>
            </a>
        </li>
        <li class="list active">
            <a>
                <span class="icon-menu-home"><i class="fi-icon fi-ss-book-alt"></i></span>
                <span class="text-menu-home">Menu</span>
            </a>
        </li>
        <li class="list">
            <a>
                <span class="icon-menu-home"><i class="fi-icon fi-sr-user"></i></span>
                <span class="text-menu-home">Profile</span>
            </a>
        </li>
        <div class="indicator"></div>
    </ul>
</div>

<!--
<script>
    const list=document.querySelectorAll('.list');
    function activeLink(){
        list.forEach((item)=>
            item.classList.remove('active'));
            this.classList.add('active');
    }
    list.forEach((item)=>
    item.addEventListener('click',activeLink))
</script>
-->

<script>
    const list = document.querySelectorAll('.list');
    const menuNavBar = document.querySelectorAll('.navbar-menu');

    function activeLink() {
        list.forEach((item, index) => {
            item.classList.remove('active');
            menuNavBar[index].classList.remove('active'); // Remueve 'active' de menuNavBar también
            if (item === this) {
                item.classList.add('active');
                menuNavBar[index].classList.add('active'); // Agrega 'active' a menuNavBar también
                console.log(`Se activó el ítem número ${index + 1}`);
            }
        });
    }

    list.forEach((item) => {
        item.addEventListener('click', activeLink);
    });
</script>
