
<table class="table table-hover"> <!--table-bordered-->
    <colgroup>
        <col style="width: 40%;">
        <col style="width: 10%;">
        <col style="width: 40%;">
        <col style="width: 10%;">
    </colgroup>
    <thead>
        <tr>
            <td><label>Select a product</label></td>
            <td></td>
            <td>
                <label>Select a supplies</label>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <select class="form-control">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </td>
            <td><button class="btn btn-danger" onclick="">+</button></td>
            <td>
                <select class="form-control">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </td>
            <td><button class="btn btn-danger" onclick="">+</button></td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<br>