<div class="form-group">
    <center>
        <img src="https://cdn.pixabay.com/photo/2017/01/25/17/35/picture-2008484_1280.png"
            class="logoCompany" id="imgEmployee">
    </center>
</div>
<div class="form-group">
    <input type="file" name="image" accept="image/*" class="form-control" id="inputImg">
</div>

<div class="row">
    <div class="col">
        <label for="">Barcode</label>
        <input type="text" class="form-control" placeholder="Barcode" name="barcode">
    </div>
    <div class="col">
        <label for="">Name</label>
        <input type="text" class="form-control" placeholder="Name" name="name">
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <label for="">Category</label>
        <select class="form-control">
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="col">
        <label for="">Department</label>
        <select class="form-control">
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label>Description</label><br>
    <textarea type="tex" class="form-control" name="description"  placeholder="Description"></textarea>
</div>
