<div class="form-group">
    <h6>Supplies and products</h6><br>
    {{>CEO/combo/browser}}
    <table class="table table-hover" id="table-supplies-products" name="table-combo"> <!--table-bordered-->
        <colgroup>
            <col style="width: 30%;">
            <col style="width: 30%;">
            <col style="width: 15%;">
            <col style="width: 15%;">
            <col style="width: 10%;">
        </colgroup>
        <thead>
        <tr>
            <th><label>Barcode</label></th>
            <th><label>Name</label></th>
            <th><label>Cant.</label></th>
            <th><label>Sell for</label></th>
            <th><label></label></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <input type="text" name="barcodeProducts" id="barcodeProducts">
</div>
