<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {{#each newAd}}
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{index}}" class="active" aria-current="true" aria-label="Slide {{index}}"></button>
    {{/each}}
  </div>
  <div class="carousel-inner box-carousel-promo">
    {{#each newAd}}
      <div class="carousel-item active div-carousel-promo">
        {{#if img}}
            <img src="{{img}}" class="img-carousel-promo" alt="...">
        {{else}}
            <img class="img-carousel-promo" alt="..." src="https://cdn-icons-png.flaticon.com/512/1695/1695572.png">
        {{/if}}
      </div>
    {{/each}}
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">previo</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">siguiente</span>
  </button>
</div>
