<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner box-carousel-promo">
    <div class="carousel-item active div-carousel-promo">
      <img src="https://cdn.tictuk.com/7646423017805410/banner_desktop_14c417b4-6456-aaca-dc6f-49b61f67757d.jpeg?a=c282a912-a7ea-c557-c87f-1b59eca3a83a" class="img-carousel-promo" alt="...">
    </div>
    <div class="carousel-item div-carousel-promo">
      <img src="https://cdn.tictuk.com/7646423017805410/banner_desktop_d03c0e7d-3329-0b74-9f32-b5c3770f4b50.jpeg?a=703d1dd3-63e2-aec5-dcc4-d71d727653f6" class="img-carousel-promo" alt="...">
    </div>
    <div class="carousel-item div-carousel-promo">
      <img src="https://cdn.tictuk.com/7646423017805410/banner_desktop_88d5a41d-44a2-afc0-a4e6-aaf45b76cd31.jpeg?a=5ec1103f-a952-6bb2-ad6e-d011879d05bb" class=" img-carousel-promo" alt="...">
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
