<!--the most sale-->
<div class="title-home-store">
    <br>
    <h3><b>THE NEW</b></h3>
    <hr>
</div>

<div class="body-card-product">
    <div class="slide-container swiper">
        <div class="slide-content">
            <div class="card-wrapper swiper-wrapper">


                <!---oferts--->
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay">

                        </span>
                        <div class="card-image">
                            <img class="card-img" src="https://cdn.tictuk.com/090ea518-0179-bce6-ea53-4b55b81c379e/cf6b7b28-2b0d-8653-cc70-08323a8de235.jpeg?a=eec49e9e-cb94-fb5d-8086-8092e1894e2c" alt="">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">BUCKET 12 PARTS</h2>
                        <p class="description">$200.00</p>
                        <button class="button-card" onclick="addFish('BUCKET 12 PARTS',200.00)"><i class="fi-icon-card fi-ss-cart-arrow-down"></i></button>
                    </div>
                </div>
                <!---oferts--->

                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay">

                        </span>
                        <div class="card-image">
                            <img class="card-img" src="https://cdn.tictuk.com/090ea518-0179-bce6-ea53-4b55b81c379e/cf6b7b28-2b0d-8653-cc70-08323a8de235.jpeg?a=eec49e9e-cb94-fb5d-8086-8092e1894e2c" alt="">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">BUCKET 12 PARTS</h2>
                        <p class="description">$200.00</p>
                        <button class="button-card"><i class="fi-icon-card fi-ss-cart-arrow-down"></i></button>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay">

                        </span>
                        <div class="card-image">
                            <img class="card-img" src="https://cdn.tictuk.com/090ea518-0179-bce6-ea53-4b55b81c379e/cf6b7b28-2b0d-8653-cc70-08323a8de235.jpeg?a=eec49e9e-cb94-fb5d-8086-8092e1894e2c" alt="">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">BUCKET 12 PARTS</h2>
                        <p class="description">$200.00</p>
                        <button class="button-card"><i class="fi-icon-card fi-ss-cart-arrow-down"></i></button>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay">

                        </span>
                        <div class="card-image">
                            <img class="card-img" src="https://cdn.tictuk.com/090ea518-0179-bce6-ea53-4b55b81c379e/cf6b7b28-2b0d-8653-cc70-08323a8de235.jpeg?a=eec49e9e-cb94-fb5d-8086-8092e1894e2c" alt="">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">BUCKET 12 PARTS</h2>
                        <p class="description">$200.00</p>
                        <button class="button-card"><i class="fi-icon-card fi-ss-cart-arrow-down"></i></button>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay">

                        </span>
                        <div class="card-image">
                            <img class="card-img" src="https://cdn.tictuk.com/090ea518-0179-bce6-ea53-4b55b81c379e/cf6b7b28-2b0d-8653-cc70-08323a8de235.jpeg?a=eec49e9e-cb94-fb5d-8086-8092e1894e2c" alt="">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">BUCKET 12 PARTS</h2>
                        <p class="description">$200.00</p>
                        <button class="button-card"><i class="fi-icon-card fi-ss-cart-arrow-down"></i></button>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay">

                        </span>
                        <div class="card-image">
                            <img class="card-img" src="https://cdn.tictuk.com/090ea518-0179-bce6-ea53-4b55b81c379e/cf6b7b28-2b0d-8653-cc70-08323a8de235.jpeg?a=eec49e9e-cb94-fb5d-8086-8092e1894e2c" alt="">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">BUCKET 12 PARTS</h2>
                        <p class="description">$200.00</p>
                        <button class="button-card"><i class="fi-icon-card fi-ss-cart-arrow-down"></i></button>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay">

                        </span>
                        <div class="card-image">
                            <img class="card-img" src="https://cdn.tictuk.com/090ea518-0179-bce6-ea53-4b55b81c379e/cf6b7b28-2b0d-8653-cc70-08323a8de235.jpeg?a=eec49e9e-cb94-fb5d-8086-8092e1894e2c" alt="">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">BUCKET 12 PARTS</h2>
                        <p class="description">$200.00</p>
                        <button class="button-card"><i class="fi-icon-card fi-ss-cart-arrow-down"></i></button>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay">

                        </span>
                        <div class="card-image">
                            <img class="card-img" src="https://cdn.tictuk.com/090ea518-0179-bce6-ea53-4b55b81c379e/cf6b7b28-2b0d-8653-cc70-08323a8de235.jpeg?a=eec49e9e-cb94-fb5d-8086-8092e1894e2c" alt="">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">BUCKET 12 PARTS</h2>
                        <p class="description">$200.00</p>
                        <button class="button-card"><i class="fi-icon-card fi-ss-cart-arrow-down"></i></button>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay">

                        </span>
                        <div class="card-image">
                            <img class="card-img" src="https://cdn.tictuk.com/090ea518-0179-bce6-ea53-4b55b81c379e/cf6b7b28-2b0d-8653-cc70-08323a8de235.jpeg?a=eec49e9e-cb94-fb5d-8086-8092e1894e2c" alt="">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">BUCKET 12 PARTS</h2>
                        <p class="description">$200.00</p>
                        <button class="button-card"><i class="fi-icon-card fi-ss-cart-arrow-down"></i></button>
                    </div>
                </div>

                



            </div>
        </div>

        <!--buttons-->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-pagination"></div>
    </div>
</div>
<br><br><br><br>
















<!--///////////////////////Card Slider//////////////////////-->
<!-- Initialize Swiper -->
<script src="/js/jsOther/swiper-bundle.min.js"></script> <!--Card Slider-->
<script>
    function updateSwiper() {
        var widthScreen = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        
        if (widthScreen > 1174) {
            var swiper = new Swiper(".slide-content", {
                slidesPerView: 5,
                spaceBetween: 10,
                loop: true,
                canterSlide: 'true',
                fade: 'true',
                grabCursor: 'true',
                centeredSlides: true,
                grabCursor: true,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                    dynamicBullets: true,
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                }
            });
        } else {
            var swiper = new Swiper(".slide-content", {
                slidesPerView: 3,
                spaceBetween: 25,
                loop: true,
                canterSlide: 'true',
                fade: 'true',
                grabCursor: 'true',
                centeredSlides: true,
                grabCursor: true,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                    dynamicBullets: true,
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                }
            });
        }
    }

    updateSwiper();
    window.addEventListener('resize', function() {
        var widthScreen = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        updateSwiper();
    });
</script>