<div class="title-home-store">
    <br>
    <h3><b>SPECIALS</b></h3>
    <hr>
</div>
<div class="container">
    <div class="row" style="background: white;">
        {{#each specialsAd}}
        <div class="card card-explore-our-combo col-3">
            <br>
            <img class="card-img-top img-fluid img-explore-combo" src="/img/uploads/{{img}}" alt="card image">
            <div class="card-body">
                <center><h4 class="card-title" style="color: var(--color-company);"><b>{{description}}</b></h4></center>
                <center>
                    <label>A fantastic fud</label><br>
                    <button class="button-card">order now</button>
                </center>
            </div>
        </div>
        {{/each}}
    </div>
</div>
