<head>
    <link rel="stylesheet" href="/css/cssOther/swiper-bundle.min.css">
    </link><!--Card Slider-->
    <link rel="stylesheet" href="/css/store/homeStore.css">
    </link>
    <link rel="stylesheet" href="/css/store/navigationHome.css">
    </link>
</head>
{{>store/home/carouselAd}}
{{>store/home/carouselMostSale}}
<div class="container-car-home">
    <table border="1" class="table-container-car">
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Cant.</th>
            <th>Total</th>
        </tr>
        <tr>
            <td>Chicken</td>
            <td>100</td>
            <td>1</td>
            <td>100</td>
        </tr>
        <tr>
            <td>Soda</td>
            <td>25</td>
            <td>2</td>
            <td>50</td>
        </tr>
    </table>

    <br>
    <button class="btn-container-cart">Buy $150<i class="fi-icon fi-sr-shopping-cart"></i></button>
</div>
{{>store/home/exploreOurCombos}}
{{>store/navigationStore}}