<head>
    <link rel="stylesheet" href="/css/cssOther/swiper-bundle.min.css"></link><!--Card Slider-->
    <link rel="stylesheet" href="/css/store/homeStore.css"></link>
</head>

<!--carousel ad-->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner box-carousel-promo">
    <div class="carousel-item active div-carousel-promo">
      <img src="https://cdn.tictuk.com/7646423017805410/banner_desktop_14c417b4-6456-aaca-dc6f-49b61f67757d.jpeg?a=c282a912-a7ea-c557-c87f-1b59eca3a83a" class="img-carousel-promo" alt="...">
    </div>
    <div class="carousel-item div-carousel-promo">
      <img src="https://cdn.tictuk.com/7646423017805410/banner_desktop_d03c0e7d-3329-0b74-9f32-b5c3770f4b50.jpeg?a=703d1dd3-63e2-aec5-dcc4-d71d727653f6" class="img-carousel-promo" alt="...">
    </div>
    <div class="carousel-item div-carousel-promo">
      <img src="https://cdn.tictuk.com/7646423017805410/banner_desktop_88d5a41d-44a2-afc0-a4e6-aaf45b76cd31.jpeg?a=5ec1103f-a952-6bb2-ad6e-d011879d05bb" class=" img-carousel-promo" alt="...">
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--the most sale-->
<div class="title-home-store">
    <br>
    <h3><b>THE MOST SOLD</b></h3>
    <hr>
</div>

<div class="body-card-product">
    <div class="slide-container swiper">
        <div class="slide-content">
            <div class="card-wrapper swiper-wrapper">


                <!---oferts--->
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay">

                        </span>
                        <div class="card-image">
                            <img class="card-img" src="https://cdn.tictuk.com/090ea518-0179-bce6-ea53-4b55b81c379e/cf6b7b28-2b0d-8653-cc70-08323a8de235.jpeg?a=eec49e9e-cb94-fb5d-8086-8092e1894e2c" alt="">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">BUCKET 12 PARTS</h2>
                        <p class="description">$200.00</p>
                        <button class="button-card"><i class="fi-icon-card fi-ss-cart-arrow-down"></i></button>
                    </div>
                </div>
                <!---oferts--->

                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay">

                        </span>
                        <div class="card-image">
                            <img class="card-img" src="https://cdn.tictuk.com/090ea518-0179-bce6-ea53-4b55b81c379e/cf6b7b28-2b0d-8653-cc70-08323a8de235.jpeg?a=eec49e9e-cb94-fb5d-8086-8092e1894e2c" alt="">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">BUCKET 12 PARTS</h2>
                        <p class="description">$200.00</p>
                        <button class="button-card"><i class="fi-icon-card fi-ss-cart-arrow-down"></i></button>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay">

                        </span>
                        <div class="card-image">
                            <img class="card-img" src="https://cdn.tictuk.com/090ea518-0179-bce6-ea53-4b55b81c379e/cf6b7b28-2b0d-8653-cc70-08323a8de235.jpeg?a=eec49e9e-cb94-fb5d-8086-8092e1894e2c" alt="">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">BUCKET 12 PARTS</h2>
                        <p class="description">$200.00</p>
                        <button class="button-card"><i class="fi-icon-card fi-ss-cart-arrow-down"></i></button>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay">

                        </span>
                        <div class="card-image">
                            <img class="card-img" src="https://cdn.tictuk.com/090ea518-0179-bce6-ea53-4b55b81c379e/cf6b7b28-2b0d-8653-cc70-08323a8de235.jpeg?a=eec49e9e-cb94-fb5d-8086-8092e1894e2c" alt="">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">BUCKET 12 PARTS</h2>
                        <p class="description">$200.00</p>
                        <button class="button-card"><i class="fi-icon-card fi-ss-cart-arrow-down"></i></button>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay">

                        </span>
                        <div class="card-image">
                            <img class="card-img" src="https://cdn.tictuk.com/090ea518-0179-bce6-ea53-4b55b81c379e/cf6b7b28-2b0d-8653-cc70-08323a8de235.jpeg?a=eec49e9e-cb94-fb5d-8086-8092e1894e2c" alt="">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">BUCKET 12 PARTS</h2>
                        <p class="description">$200.00</p>
                        <button class="button-card"><i class="fi-icon-card fi-ss-cart-arrow-down"></i></button>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay">

                        </span>
                        <div class="card-image">
                            <img class="card-img" src="https://cdn.tictuk.com/090ea518-0179-bce6-ea53-4b55b81c379e/cf6b7b28-2b0d-8653-cc70-08323a8de235.jpeg?a=eec49e9e-cb94-fb5d-8086-8092e1894e2c" alt="">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">BUCKET 12 PARTS</h2>
                        <p class="description">$200.00</p>
                        <button class="button-card"><i class="fi-icon-card fi-ss-cart-arrow-down"></i></button>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay">

                        </span>
                        <div class="card-image">
                            <img class="card-img" src="https://cdn.tictuk.com/090ea518-0179-bce6-ea53-4b55b81c379e/cf6b7b28-2b0d-8653-cc70-08323a8de235.jpeg?a=eec49e9e-cb94-fb5d-8086-8092e1894e2c" alt="">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">BUCKET 12 PARTS</h2>
                        <p class="description">$200.00</p>
                        <button class="button-card"><i class="fi-icon-card fi-ss-cart-arrow-down"></i></button>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay">

                        </span>
                        <div class="card-image">
                            <img class="card-img" src="https://cdn.tictuk.com/090ea518-0179-bce6-ea53-4b55b81c379e/cf6b7b28-2b0d-8653-cc70-08323a8de235.jpeg?a=eec49e9e-cb94-fb5d-8086-8092e1894e2c" alt="">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">BUCKET 12 PARTS</h2>
                        <p class="description">$200.00</p>
                        <button class="button-card"><i class="fi-icon-card fi-ss-cart-arrow-down"></i></button>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="image-content">
                        <span class="overlay">

                        </span>
                        <div class="card-image">
                            <img class="card-img" src="https://cdn.tictuk.com/090ea518-0179-bce6-ea53-4b55b81c379e/cf6b7b28-2b0d-8653-cc70-08323a8de235.jpeg?a=eec49e9e-cb94-fb5d-8086-8092e1894e2c" alt="">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">BUCKET 12 PARTS</h2>
                        <p class="description">$200.00</p>
                        <button class="button-card"><i class="fi-icon-card fi-ss-cart-arrow-down"></i></button>
                    </div>
                </div>





            </div>
        </div>

        <!--buttons-->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-pagination"></div>
    </div>
</div>


<!--///////////////////////Card Slider//////////////////////-->
<!-- Initialize Swiper -->
<script src="/js/jsOther/swiper-bundle.min.js"></script> <!--Card Slider-->
<script>
    function updateSwiper() {
        var widthScreen = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        
        if (widthScreen > 1174) {
            var swiper = new Swiper(".slide-content", {
                slidesPerView: 5,
                spaceBetween: 10,
                loop: true,
                canterSlide: 'true',
                fade: 'true',
                grabCursor: 'true',
                centeredSlides: true,
                grabCursor: true,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                    dynamicBullets: true,
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                }
            });
        } else {
            var swiper = new Swiper(".slide-content", {
                slidesPerView: 3,
                spaceBetween: 25,
                loop: true,
                canterSlide: 'true',
                fade: 'true',
                grabCursor: 'true',
                centeredSlides: true,
                grabCursor: true,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                    dynamicBullets: true,
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                }
            });
        }
    }

    updateSwiper();
    window.addEventListener('resize', function() {
        var widthScreen = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        updateSwiper();
    });
</script>