<head>
    <link rel="stylesheet" href="/css/cssOther/swiper-bundle.min.css">
    </link><!--Card Slider-->
    <link rel="stylesheet" href="/css/store/homeStore.css">
    </link>
    <link rel="stylesheet" href="/css/store/navigationHome.css">
    </link>
    <link rel="stylesheet" href="/css/cart/cart.css">
    </link>
</head>
<!--home-->
<section class="navbar-menu active" id="navbar-1">
    {{>store/home/carouselAd}}
    {{>store/home/carouselMostSale}}
    {{>store/home/exploreOurCombos}}
</section>
<!--the new-->
<section class="navbar-menu" id="navbar-2">
    {{>store/new/carouselNew}}
    {{>store/new/fishNew}}
    {{>store/new/carouselNewFish}}
</section>
<section class="navbar-menu" id="navbar-3">
    {{>store/menu/menu}}
</section>
<section class="navbar-menu" id="navbar-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non velit aspernatur voluptate illo assumenda, laborum fuga
    veniam praesentium perspiciatis amet nam provident reprehenderit sequi, voluptatem quia ipsum repellat optio vitae
    voluptates soluta quis? Quaerat amet cum sed fugiat at ad quae optio in perferendis, doloremque aperiam dolore,
    aliquam ducimus alias. Cum perferendis hic dolorem quaerat cumque laudantium! Amet, repellat repudiandae. Vel sequi
    libero aperiam harum ipsam possimus error architecto nam, optio fuga provident molestiae, ullam cupiditate quod
    reiciendis unde quibusdam exercitationem. Modi, aspernatur saepe rerum earum fugiat iusto impedit doloribus
    similique eum ipsum beatae, consectetur commodi! Explicabo labore quaerat quis accusantium amet adipisci tenetur aut
    omnis quam. Incidunt officia quasi maiores eligendi? Soluta dolor praesentium magnam nemo amet, dignissimos
    molestias vitae minima nesciunt pariatur explicabo debitis facere. Ipsam dignissimos tempora, odio temporibus,
    dolores fugit amet repellat quos debitis modi quis iure vel, voluptas sint minima asperiores nobis. Laborum dolor
    repellat, soluta iusto veritatis atque nulla voluptate cupiditate deleniti, incidunt fuga. Dignissimos molestias
    magni ex perspiciatis saepe magnam consectetur consequatur facere esse recusandae cum impedit inventore vero, dolor
    ipsa neque illo ullam quos dolore! Voluptatibus fugit nemo eveniet officiis obcaecati porro veniam corrupti!
    Voluptates libero labore ab sint ad, doloremque nesciunt quos at, aperiam impedit facere molestiae quidem?
    Perferendis labore expedita suscipit eaque adipisci sint, eligendi impedit. Perspiciatis quasi ad, iste a velit quia
    harum molestiae facilis ut vero cum suscipit esse? Similique, error optio.
</section>
<!--restaurant-->
{{>store/carHouse}}
{{>store/navigationStore}}