<head>
    <link rel="stylesheet" href="/css/cssOther/swiper-bundle.min.css">
    </link><!--Card Slider-->
    <link rel="stylesheet" href="/css/store/homeStore.css">
    </link>
    <link rel="stylesheet" href="/css/store/navigationHome.css">
    </link>
    <link rel="stylesheet" href="/css/cart/cart.css">
    </link>
</head>
<!--home-->
<section class="navbar-menu active" id="navbar-1">
    {{>store/home/carouselAd}}
    {{>store/home/carouselMostSale}}
    {{>store/home/exploreOurCombos}}
</section>
<!--the new-->
<section class="navbar-menu" id="navbar-2">
    {{>store/new/carouselNew}}
    {{>store/new/fishNew}}
    {{>store/new/carouselNewFish}}
</section>
<section class="navbar-menu" id="navbar-3">
    {{>store/menu/menu}}
</section>
<section class="navbar-menu" id="navbar-4">
    {{>store/profile/profile}}
</section>
<!--restaurant-->
{{>store/carHouse}}
{{>store/navigationStore}}