/**/
:root {
    --color-company: rgb(255, 255, 255);
    /*rgb(57,78,194);*/
    --color-hover: rgb(131, 2, 26);
    /*rgb(46, 62, 151);*/
    --color-body: rgb(246, 245, 248);

    --color-session1: rgb(204, 3, 40);
    /* rgb(57,78,194);*/
    --color-session2: rgb(170, 1, 32);
    /* rgb(97, 53, 253);*/

    --color-confirmation: rgb(25, 135, 84);
    --color-confirmation-hover: rgb(19, 104, 64);
    --color-cancel: rgb(220, 53, 69);
    --color-cancel-hover: rgb(187, 44, 58);
}

.fi-icon{
    padding: .6rem;
    font-size: 1rem;
}

.container-message {
    background: transparent;
    position: absolute;
    top: 10px;
    transform: translateX(+22.5%);
}


/*styles messages*/
.btn-confirm-message {
    background: var(--color-confirmation);
    color: white;
}

.btn-confirm-message:hover {
    background: var(--color-confirmation-hover);
    color: white;
}

.btn-cancel-message {
    background: var(--color-cancel);
    color: white;
}

.btn-cancel-message:hover {
    background: var(--color-cancel-hover);
    color: white;
}

.popup-message {
    border-radius: 1rem;
}


/*global styles*/
.btn-success {
    background-color: var(--color-company);
    width: 100%;
}

.btn-success:hover {
    background-color: var(--color-hover);
}

.form-group {
    padding: 8px;
}

.acceptTerms:checked::before {
    background-color: var(--color-company);
}

lable {
    font-size: 13px;
    color: rgba(0, 0, 0, .5);
    padding: 2px;
}

label {
    font-size: 13px;
    color: rgba(0, 0, 0, .5);
    padding: 2px;
}

body {
    background-color: var(--color-body);
}

.btn-add{
    background-color: rgb(55,167,84);
    color: white;
    width: 100%;
    height: 100%;
    border-radius: .3rem;
    font-size: 1.4rem;
}

/*checkbox*/
.container-checkbox {
    background: var(--color-body);
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    align-items: center;
}

.button-checkbox {
    margin: .5rem;
    align-items: center;
    position: relative;

    width: 100%;
    height: 100%;
}

.lbl-switch {
    display: inline-block;
    width: 3rem;
    height: 30px;
    background-color: var(--color-company);
    border-radius: 1rem;
    position: relative;
    cursor: pointer;
}

#btn-switch:checked~.lbl-switch {
    background: var(--color-cancel-hover);
}

#btn-switch:checked~.lbl-switch::after {
    left: 22px;

}

.lbl-switch::after {
    position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    background-color: var(--color-body);
    border-radius: 100px;
    top: 4px;
    left: 5px;
    transition: .3s;
}

#btn-switch {
    display: none;
}

.checkbox-text {
    padding-left: .8rem;
    position: absolute;
}

.check-box-app:checked {
    background-color: var(--color-company);
    border-color: transparent;
    height: 1.5rem;
    width: 2.5rem;
}

.check-box-app:not(:checked) {
    height: 1.5rem;
    width: 2.5rem;
    border-color: transparent;
    background-color: var(--color-body);
}

.check-box-app {
    height: 1.5rem;
    width: 2.5rem;
    border-color: transparent;
    background-color: var(--color-body);
}

/**/
.fi-label {
    font-size: 11px;
    color: rgba(0, 0, 0, .5);
    padding: 2px;
    padding-left: .2rem;
}

.fi-btn {
    font-size: 13px;
    color: white;
    padding: 3px;
    padding-left: .5rem;
    top: -10px;
}

.txt-separators {
    color: rgba(0, 0, 0, .7);
    padding-left: .2rem;
}

.fi-des {
    color: white;
    top: -12px;
    font-size: 1.4rem;
}


/*TABLE*/
.table-information {
    border-radius: 2rem;
}

.table-information tr:nth-child(even) {
    background-color: rgb(255, 255, 255);
    color: black;
}

/* Estilos para las filas impares */
.table-information tr:nth-child(odd) {
    background-color: rgb(235, 235, 235);
    color: black;
}

/* Estilos para los encabezados de la tabla */
.table-information th {
    background-color: var(--color-company);
    color: white;
}

.table-information th label {
    color: white;
}


.fi-department{
    font-size: .8rem
}


/*navbar*/
.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #131313;
    transition: all .5s ease;
    z-index: 100000;
}

.sidebar ul{
    list-style: none;
}

.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: var(--color-company);
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 10px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
    text-decoration: none;
}

.sidebar li:hover a{
    padding-left: 50px;
    color: var(--color-company);
}

.sidebar  ul a i{
    margin-right: 16px;
    text-decoration: none;
}

#check{
    display: none;
}
label #btn-navbar-open, label #btn-navbar-cancel{
    /*position: absolute;*/
    cursor: pointer;
    position: fixed;
}

label #btn-navbar-open{
    left: 10px;
    top:8px;
    font-size: 22px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}

label #btn-navbar-cancel{
    z-index: 100001;
    left: -195px;
    top:61px;
    font-size: 18px;
    color: white;
    padding-inline-start: 4px 9px;
    transition: all .5s ease;
}

#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~ label #btn-navbar-open{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #btn-navbar-cancel{
    left: 195px;
}

.background-navbar{
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    position: absolute;
}

@import url("//harvesthq.github.io/chosen/chosen.css");
.chosen-container {
    width: 250px;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height: 30px !important;
}
