<div class="tab-pane fade" id="navbar-customer" role="tabpanel" aria-labelledby="navbar-customer-tab">
    <div class="card">
        <div class="card-body">
            <label for=""><i class="fi-icon fi-sr-user"></i> Customer</label>
            <hr>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="addCustomer">
                <label class="form-check-label" for="flexSwitchCheckChecked">Add a new Customer</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="editCustomer">
                <label class="form-check-label" for="flexSwitchCheckChecked">Edit a Customer</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="deleteCustomer">
                <label class="form-check-label" for="flexSwitchCheckChecked">Delete a Customer</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="cancelDebt">
                <label class="form-check-label" for="flexSwitchCheckChecked">Cancel debt</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="offerLoan">
                <label class="form-check-label" for="flexSwitchCheckChecked">Offer loan</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="getFertilizer">
                <label class="form-check-label" for="flexSwitchCheckChecked">Get fertilizer</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="viewCustomerCredits">
                <label class="form-check-label" for="flexSwitchCheckChecked">View Customer Credits</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="sendEmail">
                <label class="form-check-label" for="flexSwitchCheckChecked">Send E-mail</label>
            </div>
        </div>
    </div>
</div>