<div class="tab-pane fade" id="navbar-customer" role="tabpanel" aria-labelledby="navbar-customer-tab">
    <div class="card">
        <div class="card-body">
            <label for=""><i class="fi-icon fi-sr-hat-chef"></i> Customer</label>
            <hr>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Add a new Customer</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Edit a Customer</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Delete a Customer</label>
            </div>
        </div>
    </div>
</div>