<div class="tab-pane fade" id="navbar-employee" role="tabpanel" aria-labelledby="navbar-employee-tab">
    <div class="card">
        <div class="card-body">
            <label for=""><i class="fi-icon fi-sr-hat-chef"></i> Employee</label>
            <hr>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="newEmployee">
                <label class="form-check-label" for="flexSwitchCheckChecked">Add a new Employee</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="editEmployee">
                <label class="form-check-label" for="flexSwitchCheckChecked">Edit Employee</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="deleteEmployee">
                <label class="form-check-label" for="flexSwitchCheckChecked">Delete Employee</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="createSchedule">
                <label class="form-check-label" for="flexSwitchCheckChecked">Create a schedule</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="viewSchedule">
                <label class="form-check-label" for="flexSwitchCheckChecked">View schedule</label>
            </div>
        </div>
    </div>
</div>