<div class="tab-pane fade show active" id="navbar-character" role="tabpanel" aria-labelledby="navbar-character-tab">
    <div class="card">
        <div class="card-body">
            <label><i class="fi-icon fi-sr-shield-check"></i>Information of the type user</label>
            <hr>
            <div class="row">
                <div class="col">
                    <label for="">Name</label>
                    <input type="text" class="form-control" placeholder="Name" name="name" required>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="">Description</label>
                    <textarea type="text" class="form-control" placeholder="Description" name="description"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="">Salary $</label>
                    <input type="text" class="form-control" placeholder="Salary" name="salary" required>
                </div>
                <div class="col">
                    <label for="">Currency</label>
                    <select name="" id="" class="form-control" name="currency">
                        <option value="peso">🇲🇽 MXN &#x20B1;</option>
                        <option value="dollar">🇺🇸 USD &#x0024;</option>
                    </select>
                </div>
                <div class="col">
                    <label for="">Type Salary</label>
                    <select name="" id="" class="form-control" name="typeSalary">
                        <option value="1">Minutes</option>
                        <option value="2">Hours</option>
                        <option value="3">Days</option>
                        <option value="4">Week</option>
                        <option value="5">Fortnight</option>
                        <option value="6">Month</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="">% Discount for product</label>
                    <input type="text" class="form-control" placeholder="Discount for product" name="discount">
                </div>
            </div>
        </div>
    </div>
</div>