<div class="tab-pane fade" id="navbar-history" role="tabpanel" aria-labelledby="navbar-history-tab">
    <div class="card">
        <div class="card-body">
            <label for=""><i class="fi-icon fi-sr-clock-three"></i> History</label>
            <hr>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="viewSaleHistory">
                <label class="form-check-label" for="flexSwitchCheckChecked">View History Sale</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="deleteSaleHistory">
                <label class="form-check-label" for="flexSwitchCheckChecked">Delete History Sale</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="viewMovementHistory">
                <label class="form-check-label" for="flexSwitchCheckChecked">View Movement History</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="deleteMovementHistory">
                <label class="form-check-label" for="flexSwitchCheckChecked">Delete Movement History</label>
            </div>
        </div>
    </div>
</div>