<div class="tab-pane fade" id="navbar-history" role="tabpanel" aria-labelledby="navbar-history-tab">
    <div class="card">
        <div class="card-body">
            <label for=""><i class="fi-icon fi-sr-clock-three"></i> History</label>
            <hr>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="viewHistory">
                <label class="form-check-label" for="flexSwitchCheckChecked">View History</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="deleteHistory">
                <label class="form-check-label" for="flexSwitchCheckChecked">Delete History</label>
            </div>
        </div>
    </div>
</div>