<div class="tab-pane fade" id="navbar-products" role="tabpanel" aria-labelledby="navbar-products-tab">
    <div class="card">
        <div class="card-body">
            <label for=""><i class="fi-icon fi-sr-restaurant"></i> Kitchen</label>
            <hr>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="viewSupplies">
                <label class="form-check-label" for="flexSwitchCheckChecked">View Supplies</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="addSupplies">
                <label class="form-check-label" for="flexSwitchCheckChecked">Add Supplies</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="editSupplies">
                <label class="form-check-label" for="flexSwitchCheckChecked">Edit Supplies</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="deleteSupplies">
                <label class="form-check-label" for="flexSwitchCheckChecked">Delete Supplies</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="deleteProducts">
                <label class="form-check-label" for="flexSwitchCheckChecked">View Products</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="editProducts">
                <label class="form-check-label" for="flexSwitchCheckChecked">Edit Products</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="deleteProducts">
                <label class="form-check-label" for="flexSwitchCheckChecked">Delete Products</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="viewCombo">
                <label class="form-check-label" for="flexSwitchCheckChecked">View Combo</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="addCombo">
                <label class="form-check-label" for="flexSwitchCheckChecked">Add Combo</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="editCombo">
                <label class="form-check-label" for="flexSwitchCheckChecked">Edit Combo</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="deleteCombo">
                <label class="form-check-label" for="flexSwitchCheckChecked">Delete Combo</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="viewFoodDepartament">
                <label class="form-check-label" for="flexSwitchCheckChecked">View Food Departament</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="addFoodDepartament">
                <label class="form-check-label" for="flexSwitchCheckChecked">Add Food Departament</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="editFoodDepartament">
                <label class="form-check-label" for="flexSwitchCheckChecked">Edit Food Departament</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="deleteEmployee">
                <label class="form-check-label" for="flexSwitchCheckChecked">Delete Food Departament</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="viewFoodCategory">
                <label class="form-check-label" for="flexSwitchCheckChecked">View Food Category</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="addFoodCategory">
                <label class="form-check-label" for="flexSwitchCheckChecked">Add Food Category</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="editFoodCategory">
                <label class="form-check-label" for="flexSwitchCheckChecked">Edit Food Category</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="deleteFoodCategory">
                <label class="form-check-label" for="flexSwitchCheckChecked">Delete Food Category</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="wasteReport">
                <label class="form-check-label" for="flexSwitchCheckChecked">Waste Report</label>
            </div>
        </div>
    </div>
</div>