<option value="g">Gramos (g)</option>
<option value="kg">Kilogramos (kg)</option>
<option value="l">Litros (l)</option>
<option value="ml">Mililitros (ml)</option>
<hr>
<option value="oz">Onzas (oz) EE. UU.</option>
<option value="lbs">Libras (lbs) EE. UU.</option>
<option value="gal">Galones estadounidenses (gal) EE. UU.</option>
<option value="fl oz">Fluidos estadounidenses (fl oz) EE. UU.</option>
<hr>
<option value="u">Unity (u) (Pza)</option>