<br><br>
<div class="content">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h1 class="font-weight-bold mb-0">Hi, Welcome {{user.user_name}}!</h1>
                    {{#each company}}
                        <p class="lead text-muted">Check the latest reports of your businesses {{name}}</p>
                    {{/each}}
                    {{#each branch}}
                        <p class="lead text-muted">Check the latest reports of your businesses {{name}}</p>
                    {{/each}}
                </div>
                <div class="col-lg-3 d-flex">
                    <button class="btn btn-primary w-100 align-self-center">
                        <i class="fi-download fi-sr-down-to-line"></i>
                        Download report
                    </button>
                </div>
            </div>

            <section>
                <div class="container">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3 d-flex stat my-2">
                                    <div class="mx-auto">
                                        <h6 class="text-muted">27 June</h6>
                                        <h3 class="font-weight-bold">$50,000</h3>
                                        <h6 class="text-success">
                                            <i class="fi-success fi-sr-angle-small-down"></i>
                                            50.50%
                                        </h6>
                                    </div>
                                </div>
                                <div class="col-lg-3 d-flex stat  my-2">
                                    <div class="mx-auto">
                                        <h6 class="text-muted">June 2023</h6>
                                        <h3 class="font-weight-bold">$50,000</h3>
                                        <h6 class="text-success">
                                            <i class="fi-success fi-sr-angle-small-down"></i>
                                            50.50%
                                        </h6>
                                    </div>
                                </div>
                                <div class="col-lg-3 d-flex stat  my-2">
                                    <div class="mx-auto">
                                        <h6 class="text-muted">2023</h6>
                                        <h3 class="font-weight-bold">$50,000</h3>
                                        <h6 class="text-success">
                                            <i class="fi-success fi-sr-angle-small-down"></i>
                                            50.50%
                                        </h6>
                                    </div>
                                </div>
                                <div class="col-lg-3 d-flex my-2">
                                    <div class="mx-auto">
                                        <h6 class="text-muted">All</h6>
                                        <h3 class="font-weight-bold">$50,000</h3>
                                        <h6 class="text-success">
                                            <i class="fi-success fi-sr-angle-small-down"></i>
                                            50.50%
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>