<link rel="stylesheet" href="/css/marketplace/marketplace.css">
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <h2><b>Marketplace</b></h2>
            <hr>
            <div class="container-ad">

            </div>
        </div>
    </div>
    <br>
    <br><br>
    <hr>
    <div class="row mb-4 justify-content-end">
        <div class="col-5">
            <div class="d-flex">
                <input type="text" id="search-input" class="form-control me-2" placeholder="Buscar aplicaciones...">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="p-3 container-marketplace" id="F칲d crm clientes">
            <div class="row">
                <div class="col-3">
                    <div class="img-marketplace">
                        <img src="https://cdn-icons-png.freepik.com/512/5706/5706401.png" alt="App Image" />
                    </div>
                </div>
                <div class="col position-relative">
                    <div class="description-marketplace">
                        <p class="title-marketplace"><b>F칲d CRM 游뱋</b></p>
                        <label for="">
                            Descubre F칲d CRM: la herramienta esencial para gestionar y fortalecer tus relaciones con
                            clientes. Optimiza ventas, automatiza marketing y mejora el servicio al cliente con nuestra
                            plataforma intuitiva.
                        </label>
                        <p class="price-marketplace">$180/mes</p>
                        <label for="" class="install-marketplace">1000+ instalaciones</label>
                        <br>
                        <i class="fi-start fi-sr-star"></i><i class="fi-start fi-sr-star"></i><i
                            class="fi-start fi-sr-star"></i><i class="fi-start fi-sr-star"></i>
                        <i class="fi-start fi-sr-star"></i>
                        <button class="btn-marketplace-buy position-absolute end-0">Instalar <i
                                class="fi-icon fi-sr-down-to-line"></i></button>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-3 container-marketplace" id="empleados restaurante equipo nueva terminal">
            <div class="row">
                <div class="col-3">
                    <div class="img-marketplace">
                        <img src="https://cdn-icons-png.flaticon.com/512/5188/5188850.png" alt="App Image" />
                    </div>
                </div>
                <div class="col position-relative">
                    <div class="description-marketplace">
                        <p class="title-marketplace"><b>Nueva terminal 游눹</b></p>
                        <label for="">
                            Agiliza tu punto de venta con una nueva terminal de cobro. Reduce las filas y mejora la
                            experiencia de tus clientes con un proceso de pago m치s r치pido y eficiente.
                        </label>
                        <p class="price-marketplace">$49/mes</p>
                        <label for="" class="install-marketplace">1000+ instalaciones</label>
                        <br>
                        <i class="fi-start fi-sr-star"></i><i class="fi-start fi-sr-star"></i><i
                            class="fi-start fi-sr-star"></i><i class="fi-start fi-sr-star"></i>
                        <i class="fi-start fi-sr-star"></i>
                        <button class="btn-marketplace-buy position-absolute end-0">Instalar <i
                                class="fi-icon fi-sr-down-to-line"></i></button>
                        <br>
                    </div>
                </div>
            </div>
        </div>


        <div class="p-3 container-marketplace" id="F칲d horarios empleados">
            <div class="row">
                <div class="col-3">
                    <div class="img-marketplace">
                        <img src="https://cdn-icons-png.flaticon.com/512/566/566632.png" alt="App Image" />
                    </div>
                </div>
                <div class="col position-relative">
                    <div class="description-marketplace">
                        <p class="title-marketplace"><b>F칲d Horarios Empleados 游뎸</b></p>
                        <label for="">
                            Nuestra herramienta de gesti칩n de horarios de empleados facilita la planificaci칩n y
                            organizaci칩n de turnos. Optimiza la asignaci칩n de tareas, reduce conflictos de horarios y
                            garantiza cobertura adecuada. Con una interfaz intuitiva, ahorra tiempo y mejora la
                            eficiencia operativa
                        </label>
                        <p class="price-marketplace">$19.99/mes</p>
                        <label for="" class="install-marketplace">1000+ instalaciones</label>
                        <br>
                        <i class="fi-start fi-sr-star"></i><i class="fi-start fi-sr-star"></i><i
                            class="fi-start fi-sr-star"></i><i class="fi-start fi-sr-star"></i>
                        <i class="fi-start fi-sr-star"></i>
                        <button class="btn-marketplace-buy position-absolute end-0">Instalar <i
                                class="fi-icon fi-sr-down-to-line"></i></button>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-3 container-marketplace" id="F칲d provedores">
            <div class="row">
                <div class="col-3">
                    <div class="img-marketplace">
                        <img src="https://cdn-icons-png.flaticon.com/512/2555/2555001.png" alt="App Image" />
                    </div>
                </div>
                <div class="col position-relative">
                    <div class="description-marketplace">
                        <p class="title-marketplace"><b>F칲d Provedores 游뚴</b></p>
                        <label for="">
                            Facilita la evaluaci칩n del rendimiento, seguimiento de pedidos, negociaci칩n de contratos y
                            gesti칩n de inventarios. Con una interfaz intuitiva, optimiza la cadena de suministro, reduce
                            costos y mejora la eficiencia operativa, asegurando siempre disponibilidad y calidad de
                            suministros.
                        </label>
                        <p class="price-marketplace">$19.99/mes</p>
                        <label for="" class="install-marketplace">200+ instalaciones</label>
                        <br>
                        <i class="fi-start fi-sr-star"></i><i class="fi-start fi-sr-star"></i><i
                            class="fi-start fi-sr-star"></i><i class="fi-start fi-sr-star"></i>
                        <i class="fi-start fi-sr-star"></i>
                        <button class="btn-marketplace-buy position-absolute end-0">Instalar <i
                                class="fi-icon fi-sr-down-to-line"></i></button>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-3 container-marketplace" id="F칲d reportes con IA ventas">
            <div class="row">
                <div class="col-3">
                    <div class="img-marketplace">
                        <img src="https://cdn-icons-png.flaticon.com/512/6784/6784466.png" alt="App Image" />
                    </div>
                </div>
                <div class="col position-relative">
                    <div class="description-marketplace">
                        <p class="title-marketplace"><b>F칲d Reporte con IA 游늵</b></p>
                        <label for="">
                            Impulsa tu restaurante con la 칰ltima tecnolog칤a. Nuestros informes y predicciones basados en
                            IA te brindan datos precisos para optimizar tus operaciones. Anticipa tendencias, mejora la
                            gesti칩n de inventarios y maximiza tus ingresos con decisiones informadas.
                        </label>
                        <p class="price-marketplace">$129/mes</p>
                        <label for="" class="install-marketplace">100+ instalaciones</label>
                        <br>
                        <i class="fi-start fi-sr-star"></i><i class="fi-start fi-sr-star"></i><i
                            class="fi-start fi-sr-star"></i><i class="fi-start fi-sr-star"></i>
                        <button class="btn-marketplace-buy position-absolute end-0">Instalar <i
                                class="fi-icon fi-sr-down-to-line"></i></button>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-3 container-marketplace" id="F칲d sitio web clientes">
            <div class="row">
                <div class="col-3">
                    <div class="img-marketplace">
                        <img src="https://cdn-icons-png.flaticon.com/512/3190/3190497.png" alt="App Image" />
                    </div>
                </div>
                <div class="col position-relative">
                    <div class="description-marketplace">
                        <p class="title-marketplace"><b>F칲d Web 游깷</b></p>
                        <label for="">
                            쯊e gustar칤a que tu restaurante est칠 abierto las 24 horas del d칤a, los 7 d칤as de la semana?
                            Crea tu propia web de pedidos de comida y permite que tus clientes hagan sus pedidos cuando
                            quieran. Aumenta tus ventas y la satisfacci칩n de tus clientes con un servicio siempre
                            disponible.
                        </label>
                        <p class="price-marketplace">$1,500/mes</p>
                        <label for="" class="install-marketplace">500+ instalaciones</label>
                        <br>
                        <i class="fi-start fi-sr-star"></i><i class="fi-start fi-sr-star"></i><i
                            class="fi-start fi-sr-star"></i><i class="fi-start fi-sr-star"></i>
                        <i class="fi-start fi-sr-star"></i>
                        <button class="btn-marketplace-buy position-absolute end-0">Instalar <i
                                class="fi-icon fi-sr-down-to-line"></i></button>
                        <br>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<br><br><br><br><br><br><br><br><br>
<script>
    document.getElementById('search-input').addEventListener('input', function () {
        let filter = this.value.toLowerCase();
        let cards = document.querySelectorAll('.container-marketplace');

        cards.forEach(function (card) {
            let id = card.id.toLowerCase();
            if (id.includes(filter)) {
                card.style.display = '';
            } else {
                card.style.display = 'none';
            }
        });
    });
</script>