<link rel="stylesheet" href="/css/marketplace/marketplace.css">
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <h2><b>Marketplace</b></h2>
            <hr>
            <div class="container-ad">

            </div>
        </div>
    </div>
    <br>
    <br><br>
    <hr>
    <div class="row">
        <div class="col">
            <div class="cards-list">
                    <div class="card">
                        <div class="card_image"> 
                            <img src="https://cdn-icons-png.freepik.com/512/5706/5706401.png" alt="App Image" />
                        </div>
                        <center><button class="btn-marketplace-buy">Adquirir <i class="fi-icon fi-sr-down-to-line"></i></button></center>
                    </div>
                    <div class="card">
                        <div class="card_image"> 
                            <img src="https://cdn-icons-png.flaticon.com/512/566/566632.png" alt="App Image" />
                        </div>
                        <center><button class="btn-marketplace-buy">Adquirir <i class="fi-icon fi-sr-down-to-line"></i></button></center>
                    </div>
                    <div class="card">
                        <div class="card_image"> 
                            <img src="https://cdn-icons-png.flaticon.com/512/2555/2555001.png" alt="App Image" />
                        </div>
                        <center><button class="btn-marketplace-buy">Adquirir <i class="fi-icon fi-sr-down-to-line"></i></button></center>
                    </div>
                    <div class="card">
                        <div class="card_image"> 
                            <img src="https://cdn-icons-png.flaticon.com/512/4861/4861937.png" alt="App Image" />
                        </div>
                        <center><button class="btn-marketplace-buy">Adquirir <i class="fi-icon fi-sr-down-to-line"></i></button></center>
                    </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br>

                <!--
                <div class="card 2">
                    <div class="card_image"> <img src="https://cdn-icons-png.flaticon.com/512/566/566632.png" /> </div>
                    <div class="card_title title-white">
                        <center><p class="title-buy"></p></center>
                    </div>
                    <center><button class="btn-marketplace-buy">Adquirir <i class="fi-icon fi-sr-down-to-line"></i></button></center>
                    <label for="" class="price-marketplace"><b>$100/mes</b></label>
                </div>
                <div class="card 2">
                    <div class="card_image"> <img src="https://cdn-icons-png.flaticon.com/512/2555/2555001.png" /> </div>
                    <div class="card_title title-white">
                        <center><p class="title-buy"></p></center>
                    </div>
                    <center><button class="btn-marketplace-buy">Adquirir <i class="fi-icon fi-sr-down-to-line"></i></button></center>
                    <label for="" class="price-marketplace"><b>$100/mes</b></label>
                </div>
                <div class="card 2">
                    <div class="card_image"> <img src="https://cdn-icons-png.flaticon.com/512/4861/4861937.png" /> </div>
                    <div class="card_title title-white">
                        <center><p class="title-buy"></p></center>
                    </div>
                    <center><button class="btn-marketplace-buy">Adquirir <i class="fi-icon fi-sr-down-to-line"></i></button></center>
                    <label for="" class="price-marketplace"><b>$100/mes</b></label>
                </div>
                --->